/**
 * Header Orange
 *
 * @color 
 * @section QII Brand
 */
 $dark-orange: #e87d1e;

/**
 * Highlight Orange
 *
 * @color 
 * @section QII Brand
 */
 $light-orange: #ffc425;
 /**
 * ACC Blue
 *
 * @color 
 * @section QII Brand
 */
 $acc-blue: #004176;
 /**
 * Warm Grey
 *
 * @color 
 * @section QII Brand
 */
 $warm-grey: #a1a0a4;
 /**
 * Soft Blue
 *
 * @color 
 * @section QII Brand
 */
 $soft-blue: #a4cded;
 
/**
 * Error Red
 *
 * @color 
 * @section States		
 */
 $error-color:#990000;

 /**
 * Scrub Teal 
 *
 * @color 
 * @section Scrub Teal	
 */
 $scrubteal:#0088aa;
 /**
 * Scrub Light Teal 
 *
 * @color 
 * @section Scrub Teal		
 */
 $scrubteal-light:#05aee5;

/**
 * Scrub Dark Teal 
 *
 * @color
 * @section Scrub Teal	 	
 */
 $scrubteal-dark:#0283ab;