/**
 * Header Orange
 *
 * @color 
 * @section QII Brand
 */
 $dark-orange: #e87d1e;

/**
 * Highlight Orange
 *
 * @color 
 * @section QII Brand
 */
 $light-orange: #ffc425;
 /**
 * ACC Blue
 *
 * @color 
 * @section QII Brand
 */
 $acc-blue: #004176;
 /**
 * Warm Grey
 *
 * @color 
 * @section QII Brand
 */
 $off-white: #fafafa;
  /**
 * Off White
 *
 * @color 
 * @section QII Brand
 */
 $warm-grey: #a1a0a4;
 /**
 * Soft Blue
 *
 * @color 
 * @section QII Brand
 */
 $soft-blue: #a4cded;
 
/**
 * Error Red
 *
 * @color 
 * @section States		
 */
 $error-color:#990000;

 /**
 * Scrub Teal 
 *
 * @color 
 * @section Scrub Teal	
 */
 $scrubteal:#0088aa;
 /**
 * Scrub Light Teal 
 *
 * @color 
 * @section Scrub Teal		
 */
 $scrubteal-light:#05aee5;

/**
 * Scrub Dark Teal 
 *
 * @color
 * @section Scrub Teal	 	
 */
 $scrubteal-dark:#0283ab;


 @mixin teal-gradient{
 	background: $scrubteal-dark;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1YWVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjgzYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $scrubteal-light 0%, $scrubteal-dark 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $scrubteal-light), color-stop(100%, $scrubteal-dark));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $scrubteal-light 0%, $scrubteal-dark 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $scrubteal-light 0%, $scrubteal-dark 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $scrubteal-light 0%, $scrubteal-dark 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $scrubteal-light 0%, $scrubteal-dark 100%);
    /* W3C */
 }
  @mixin lightblue-gradient{
 	background: #a4cded;
    /* Old browsers */
    background-attachment: fixed;
    background-image: -moz-linear-gradient(top,  $off-white 1%,  $soft-blue 100%);
    /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%,  $off-white), color-stop(100%,  $soft-blue));
    /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  $off-white 1%,  $soft-blue 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  $off-white 1%,  $soft-blue 100%);
    /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  $off-white 1%,  $soft-blue 100%);
    /* IE10+ */
    background-image: linear-gradient(to bottom,  $off-white 1%,  $soft-blue 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' $off-white', endColorstr='$soft-blue', GradientType=0);
    /* IE6-9 */
 }