.icon::before{
    display: inline-block;
    margin-right: .5em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/**
 * @icon lock
 * @markup
 *  <i class="fa fa-lock"></i>
 */
.fa-lock {
 }

/**
 * @icon search
 * @markup
 *  <i class="fa fa-search"></i>
 */
.fa-search {
 }

/**
 * @icon pdf
 * @markup
 *  <i class="fa fa-file-pdf-o"></i>
 */
.fa-file-pdf-o {
 }
 /**
 * @icon external link
 * @markup
 *  <i class="fa fa-external-link-square"></i>
 */
.fa-external-link-square {
 }

/**
 * @icon file
 * @markup
 *  <i class="fa fa-file"></i>
 */
.fa-file {
 }
/**
 * @icon chevron
 * @markup
 *  <i class="fa fa-chevron-right"></i>
 */
.fa-chevron-right {
 }
/**
 * @icon Navigate
 * @markup
 *  <i class="fa fa-arrow-circle-right"></i>
 */
.fa-arrow-circle-right {
 }