
ul.no-bullets,ul.multiselect-container,ul.generic-list{
    &, li{list-style:none;list-style-type:none;}
}
ul.no-indent,ul.multiselect-container,ul.generic-list{
    margin:0;padding:0;
    &,li{margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
}


/**
* Basic List with no bullets 
*
* @molecule No Bullet List
* @section Typography > Generic List
* @markup
*    <ul class="no-bullets">
*        <li>
*            <h2>
*          <a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a>
*          </h2>
*            <p>@{lipsum:3:sentences}
*            </p>
*            <a>more <i class="fa fa-arrow-right"></i></a>
*        </li>
*        <li>
*            <h2>
*          <a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a>
*          </h2>
*            <p>@{lipsum:3:sentences}
*            </p>
*            <a>more <i class="fa fa-arrow-right"></i></a>
*        </li>
*    </ul>
*/

ul.no-bullets {}

/**
* Semantic List for content that shouldn't be bulleted or indented. 
*
* @molecule Generic List
* @section Typography > Generic List
* @markup
*    <ul class="generic-list">
*        <li>
*            <h2>
*          <a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a>
*          </h2>
*            <p>@{lipsum:3:sentences}
*            </p>
*            <a>more <i class="fa fa-arrow-right"></i></a>
*        </li>
*        <li>
*            <h2>
*          <a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a>
*          </h2>
*            <p>@{lipsum:3:sentences}
*            </p>
*            <a>more <i class="fa fa-arrow-right"></i></a>
*        </li>
*    </ul>
*/

ul.generic-list {
    margin-top: 1em;
    margin-bottom: 1em;

    li {
        margin: 0 0 .5em;
        overflow: visible;
        list-style-type: none;
    }

    > li + li {
        margin-top: .5rem;
        border-top: 1px dashed $warm-grey-light;
        padding-top: .5rem;
    }
}

/**
* Definision List are groups of an item and the description.  Classic definision list is Q&A 
*
* @molecule Definision List
* @section Typography > Definision List
* @markup
*    <dl class="grouped-definision-list term-xs">
*        <dt><img src="@{image:100:100}" alt="..."></dt> 
*        <dd>
*            <h2><a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a></h2>
*            <p>@{lipsum:3:sentences}</p>
*        </dd>
*        <dt><img src="@{image:100:100}" alt="..."></dt> 
*        <dd>
*            <h2><a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a></h2>
*            <p>@{lipsum:1:sentences}</p><p>@{lipsum:2:sentences}</p>
*        </dd>
*        <dt><img src="@{image:100:100}" alt="..."></dt> 
*        <dd>
*            <h2><a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a></h2>
*            <p>@{lipsum:3:sentences}</p>
*        </dd>
*        <dt><img src="@{image:100:100}" alt="..."></dt> 
*        <dd>
*            <h2>
*          <a href="/Clinical-Toolkits/QI-Toolkit">@{lipsum:3:words}</a>
*          </h2>
*            <p>@{lipsum:3:sentences}</p>
*            <p>@{lipsum:3:sentences}</p>
*           @{include:.accordion.simple}
*        </dd>
*    </dl>
*/
dl.grouped-definision-list {

    dt {
        padding: .5rem 0;
        float: left;
        clear: both;
        text-align: center;

        > * {
            margin: 0 auto;
        }
    }

    dd {
        float: left;
        margin-left: $grid-gutter-width;

        > *:first-child {
            margin-top: 0;
        }

        border-bottom: 1px dashed $warm-grey-light;
    }

    dt, dd {
        &:after {
            content: "";
            display: table;
            width: 100%;
        }
    }

    &.term-xs {
        dt {
            width: 30%
        }

        dd {
            width: 65%;
            width: calc(70% - $grid-gutter-width);
        }
    }

    &.term-sm {
        dt {
            width: 40%
        }

        dd {
            width: 55%;
            width: calc(60% - $grid-gutter-width);
        }
    }

    &.term-md, &.term-lg {
        dt, dd {
            width: 100%;
            margin-left: 0;
            clear: both;
        }
    }

    @include bp(md) {
        &.term-xs {
            dt {
                width: 20%
            }

            dd {
                width: 75%;
                width: calc(80% - $grid-gutter-width);
            }
        }

        &.term-sm {
            dt {
                width: 30%
            }

            dd {
                width: 65%;
                width: calc(70% - $grid-gutter-width);
            }
        }

        &.term-md {
            dt {
                width: 40%
            }

            dd {
                width: 55%;
                width: calc(60% - $grid-gutter-width);
            }
        }

        &.term-lg {
            dt {
                width: 50%
            }

            dd {
                width: 45%;
                width: calc(50% - $grid-gutter-width);
            }
        }
    }

    @include bp(lg) {
        &.term-xs {
            dt {
                width: 10%
            }

            dd {
                width: 85%;
                width: calc(90% - $grid-gutter-width);
            }
        }

        &.term-sm {
            dt {
                width: 20%
            }

            dd {
                width: 75%;
                width: calc(80% - $grid-gutter-width);
            }
        }

        &.term-md {
            dt {
                width: 30%
            }

            dd {
                width: 65%;
                width: calc(70% - $grid-gutter-width);
            }
        }

        &.term-lg {
            dt {
                width: 50%
            }

            dd {
                width: 45%;
                width: calc(50% - $grid-gutter-width);
            }
        }
    }

    &.term-sq-sm {
        dt {
            width: 20%
        }

        dd {
            width: 80%;
            width: calc(80% - $grid-gutter-width);
        }
    }

    &.term-sq-md {
        dt {
            width: 20%
        }

        dd {
            width: 80%;
            width: calc(80% - $grid-gutter-width);
        }
    }

    &.term-sq-lg {
        dt {
            width: 20%
        }

        dd {
            width: 80%;
            width: calc(80% - $grid-gutter-width);
        }
    }
}

/**
* Sitefinity Expanding List
*
* @molecule Expanding List
* @section Typography > Exapnding Lists
* @markup
*  <div data-sf-role="lists" class="expanding-list">
*          <h3>
*              <span>
*                  Learn more about QII. Click the questions below to expose their answer.
*              </span>
*          </h3>
*              <div>
*                  <a href="javascript:void(0)" data-sf-role="toggleLink" class="expanded">What is Quality Improvement for Institutions?</a>
*                  <div style="display: block;">
*                      <p>Quality Improvement for Institutions is a suite of registries, quality campaigns, accreditation services and clinical toolkits offered to health care facilities and their staff in a convenient, single website.&nbsp; These online assets are intended to inspire and accelerate quality improvement in the facility while saving staff time and energy by providing ready-to-go, off-the-shelf programs and tools.</p>
*                  </div>
*              </div>
*              <div>
*                  <a href="javascript:void(0)" data-sf-role="toggleLink">How do I access Quality Improvement for Institutions online?</a>
*                  <div style="display:none;">
*                      The website for Quality Improvement for Institutions is CVQuality.ACC.org.&nbsp;
*                  </div>
*              </div>
*              <div>
*                  <a href="javascript:void(0)" data-sf-role="toggleLink">Who is eligible to participate in Quality Improvement for Institutions?</a>
*                  <div style="display:none;">
*                      <p style="background: white;">Individuals from&nbsp;<strong>NCDR Registry participating hospitals&nbsp;</strong>have access to the program as part of their NCDR fee.</p> Individuals from&nbsp;<strong>participating PINNACLE Registry practices</strong>&nbsp;have access to the program as part of their PINNACLE Registry association. <br><br>Hospitals that do not participate in an NCDR hospital registry or PINNACLE Registry can join Quality Improvement for Institutions for an annual fee. <br><br>*At this time, hospitals accredited through ACC Accreditation services do not have access to the quality improvement resources available on <em>CVQuality.ACC.org</em>, unless they are also part of an NCDR registry. The ACC is working to provide access to ACC Accredited facilities.
*                  </div>
*              </div>
*      <p data-sf-role="expandAll" style="display: block;">Expand all</p>
*      <p data-sf-role="collapseAll" style="display:none;">Collapse all</p>
*  </div>
*/
.expanding-list {
    h3 {
        font-size: ms(4);
        @extend .divider;
        @extend .orange;
        @extend .bold;
        color: $primary-color-dark;
    }

    [data-sf-role="toggleLink"] {
        font-size: ms(2);
        line-height: $baseline-modifier;

        &:before {
            // fa-plus-square-o
            @extend .icon-before;
            content: "\f196";
        }

        &.expanded {
            &:before {
                // fa-minus-square-o
                content: "\f147";
            }
        }
    }

    [ data-sf-role="toggleLink"] + div {
        padding: .75rem 1.5rem .5rem 2.25rem;
    }

    > div + div {
        margin-top: .5rem;
        border-top: 1px dashed $warm-grey-light;
        padding-top: .5rem;
    }
}

[ data-sf-role="expandAll"], [data-sf-role="collapseAll"] {
    @extend .btn;
    @extend .btn-secondary;
    margin-top: 1rem;
}


/**
 * Highly stylized list.  The banded list is defaultly just white with a light grey divider.  Add the class `banded-list--even` or  `banded-list--odd` to add a soft blue background on alternating li's.
 *
 * @molecule Banded Lists
 * @section Lists > Banded 
 * @modifiers
 *  .banded-list--even adds a soft blue background on every even Li
 *  .banded-list--odd adds a soft blue background on every odd Li
 *  .bg-orange-dark decorator class that turns the Li background to orange-dark.
 *  .bg-orange-light decorator class that turns the Li background to orange-light.
 *  .bg-pink decorator class that turns the Li background to pink.
 *  .bg-blue decorator class that turns the Li background to blue.
 *  .bg-warm-grey-dark decorator class that turns the Li background to warm-grey-dark.
 *  .bg-warm-grey decorator class that turns the Li background to warm-grey.
 *  .bg-scrub-teal decorator class that turns the Li background to scrub-teal.
 *  .bg-mix-teal_orange decorator class that turns the Li background to mix-teal_orange.
 *  .bg-mix-primary_teal decorator class that turns the Li background to mix-primary_teal.
 *  .bg-green decorator class that turns the Li background to green. alias for bg-cme.
 *  .bg-purple decorator class that turns the Li background to purple. alias for bg-cop.
 *  .bg-grey decorator class that turns the Li background to grey. alias for bg-ce.
 *  .bg-magenta-dark decorator class that turns the Li background to magenta-dark. alias for bg-moc2.
 *  .bg-cyan-dark decorator class that turns the Li background to cyan-dark. alias for bg-cne.
 * @markup
 *  <ul class="banded-list banded-list--even">
 *   <li>
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar.bg-primary}</div>
 *      </div>
 *   </li>
 *    <li class="bg-cop">
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar.bg-primary}</div>
 *      </div>
 *   </li>
 *   <li>
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar.bg-primary}</div>
 *      </div> 
 *   </li>
 *   <li>
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar.bg-primary}</div>
 *      </div>
 *   </li>
 *  </ul>
 **/
ul.banded-list {
    @extend .no-bullets;
    @extend .no-indent;

    .progress {
        height: 1rem;
        margin-bottom: 0;
    }

    .progress-bar {
        font-size: ms(-3);
        line-height: 1.75em;
    }
    li + li {border-top:1px solid $warm-grey-light;}
    &.no-border{border-top:0 none; }
    > li.no-border{border-top:0 none;}
    &.banded-list--even li:nth-child(even) {
        background-color: mix($soft-blue,white,25%);
    }
    &.banded-list--odd li:nth-child(odd) {
        background-color: mix($soft-blue,white,25%);
    }

    li, li:nth-child(even) {
        padding: .5rem 1rem;

        &.bg-warm-grey {
            background-color: $warm-grey;
            color: $off-white
        }

        &.bg-warm-grey-dark {
            background-color: $warm-grey-dark;
            color: $off-white
        }

        &.bg-orange-dark {
            background-color: $primary-color-dark;
            color: $off-white
        }

        &.bg-orange-light {
            background-color: $primary-color-light;
            color: $off-black
        }

        &.bg-scrub-teal {
            background-color: $scrub-teal;
            color: $off-white
        }

        &.bg-mix-teal_orange {
            background-color: $mix-teal_primary;
            color: $off-white
        }

        &.bg-mix-primary_teal {
            background-color: $mix-primary_teal;
            color: $off-white
        }

        &.bg-pink {
            background-color: #e91e63;
            color: white;
        }

        &.bg-blue {
            background-color: #a4cded;
            color: white;
        }

        &.bg-cme, &.bg-green {
            background-color: #00a15b;
            color: white;
        }

        &.bg-cop, &.bg-purple {
            background-color: #775891;
            color: white;
        }

        &.bg-ce, &.bg-grey {
            background-color: #a8a8a8;
            color: white;
        }

        &.bg-moc2, &.bg-magenta-dark {
            background-color: #9a1267;
            color: white;
        }

        &.bg-cne, &.bg-cyan-dark {
            background-color: #198dae;
            color: white;
        }
    }
}


/**
 * Header of the CQC Clincian Mangagment
 * 
 * @molecule Banded Lists with Modifiers
 * @section Lists > Banded Extra
 * @markup
 *  <ul class="banded-list banded-extra">
 *      <li class="bg-warm-grey-dark">
 *          <div class="row">
 *               <div class="col-xs-12">
 *                   <strong>
 *                       License
 *                   </strong>
 *               </div>
 *          </div>
 *      </li>
 *      <li class="bg-warm-grey">
 *           <div class="row">
 *              <div class="col-xs-4">
 *                  <strong>License     </strong>
 *              </div>  
 *              <div class="col-xs-4 text-center">
 *                  <strong>License Number</strong>
 *              </div>
 *              <div class="col-xs-4 text-right">
 *                  <strong>Issue date</strong>
 *              </div>
 *          </div>
 *      </li>
 *      <li class="bg-cop">
 *          <div class="row ">
 *              <div class="col-xs-4">
 *                  <strong>Maryland</strong>
 *              </div>  
 *              <div class="col-xs-4 text-center">
 *                  <strong>1475309</strong>
 *              </div>
 *              <div class="col-xs-4 text-right">
 *                  <strong>6/8/2008</strong>
 *              </div>
 *          </div>
 *      </li><li class="bg-cne">
 *          <div class="row">
 *              <div class="col-xs-4">
 *                  <strong>DC</strong>
 *              </div>  
 *              <div class="col-xs-4 text-center">
 *                  <strong>1475309</strong>
 *              </div>
 *              <div class="col-xs-4 text-right">
 *                  <strong>6/8/2008</strong>
 *              </div>
 *          </div>
 *      </li><li>
 *          <div class="row">
 *              <div class="col-xs-4">
 *                  <strong>Verginia</strong>
 *              </div>  
 *              <div class="col-xs-4 text-center">
 *                  <strong>1475309</strong>
 *              </div>
 *              <div class="col-xs-4 text-right">
 *                  <strong>6/8/2008</strong>
 *              </div>
 *          </div>
 *      </li> 
 *  </ul>
 **/
 .banded-extra{}