/**
* listing of blocks of information to be semanitic are wrapped in a ul.no-bullets 
*
* @atom List with No Bullets
* @section Typography
* @markup
*  <ul class="no-bullets">
*      <li>
*      <h2>
*      <a href="/Clinical-Toolkits/QI-Toolkit">QI Toolkit</a>
*      </h2>
*      <p>
*      Implement quality patient care at your facility with checklists, reminders, and other tools to address common quality improvement issues.
*      <a class="more" href="/Clinical-Toolkits/QII-Toolkit"></a>
*      </p>
*      </li>
*  </ul>
*/

ul.no-bullets{
    /*.layout-listing #colone ul.generic-list,*/
    margin-top: 1em;
    li {
        /*.layout-listing #colone ul.generic-list li, */
        margin: 0 0 1em;
        overflow: auto;
        list-style-type: none;
        img {
            /*.layout-listing ul.generic-list li img, */
            margin: 0 14px 6px 0;
            float: left;
        }
    }
}
