%nav-basic,.nav,.navbar-nav{
// Unstyle ul, ol for nav use
&, ul{	
	list-style: none;
	margin:0;
	padding:0;}
	li, ul li {
		list-style-type: none;
		margin:0;
		padding:0;
	}
	>li>a:focus, >li>a:hover{
		background-color: transparent;
	}
}


@mixin nav-mobile-basic(){
	.nav,.nav-item,.nav-link{
		display: block;
		width:100%;
		position:relative;
		float:none;
		clear:both;
		text-align:left;
	}
	.nav{
		
	}
	.nav-item{}
	.nav-link{}

}
@mixin nav-inline-block-basic{
.nav,.nav-item{display:inline-block; width:auto; position: relative;text-align:center;clear:none;}
.nav:after{content:"";display:table;clear:both;}
.nav-item{float:left;}
.nav-link{display:inline-block;clear:none;width:auto;}

}
@mixin nav-flex-row-basic(){
	>.nav{
		display:flex;
		flex-direction: row;
		flex-wrap:nowrap;
		align-items:stretch;
		align-content:strech;

	}
	>.nav>.nav-item{
		display: block;
		width:unset;
		flex:1 1 auto;
	}
	.nav-link{
		width:unset;
	}

}