    html,
    body {
        @include font;
        color: #333;
        font-size: 1rem;
        line-height: 1.4rem;
    }

/**
* @atom Headline Tags
* @section Typography
* @modifiers
*  .display-[x] Produces large display sized text where x is a number 1 through 4
*  a.tag  Produces the header tag in the dark teal color of the site with an underline on hover. 
* @markup
*  <h1 class="page-header">Page Header
*      <small>With Small Text</small>
*  </h1>
*  <h1>This is an h1 heading</h1>
*  <h2>This is an h2 heading 
*      <a href="">@{lipsum:1:words}</a>
*  </h2>
*  <h3>This is an h3 heading</h3>
*  <h4>This is an h4 heading</h4>
*  <h5>This is an h5 heading</h5>
*  <h6>This is an h6 heading</h6>
*/

    %header-link {
        a {
            color: $scrubteal;
            text-decoration: none;
            &:hover {
                color: $scrubteal-dark;
                text-decoration: underline
            }
        }
    }

    h1 {
        @extend %header-link;
        @include font("bold");
        color: $dark-orange;
    }

    h2 {
        @extend %header-link;
        @include font-display("bold");
        color: $warm-grey-dark;
    }

    h3 {
        @extend %header-link;
        @include font-display("light");
        color: $dark-orange;
    }




    ul {
        margin: 0 0 1em 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        &:hover,
        &:active {
            outline: none;
        }
    }
// style all typograpy content inside of the containing div to remove scope from the rest of the design. 

        a {
            color: $scrubteal;
            &.more {
                @include font(bold);
                display: inline-block;
                text-decoration: none;
            }
            &:hover,
            &:active {
                text-decoration: underline;
            }
        }
        p {
            margin: 0 0 1em 0;
        }
        ol,
        ul {
            margin-bottom: 1em;
            ol,
            ul {
                margin-top: 0.25em;
                margin-bottom: 0.5em;
                margin-left: 1.25em;
            }
        }
        ol li{
            margin-left: 20px;
            list-style-type: decimal;
        }
         ul li {
            margin-left: 20px;
            list-style-type: disc;
        }
         // Alternate Typography. 
        address {
            font-style: normal;
        }
        img,a img {
            height: auto;
            max-width: 100%;
        }

     .login-box ul li {
        /* per http://jira.beaconfire.us/browse/ACCQII-457 */
        min-height: 30px;
        list-style-type: none;
    }
    .login-box li input {
    float: left;
}

hr {
    margin-bottom: 1em;
    border: solid 1px $warm-grey-light;
    border-width: 1px 0 0;
}
.border-dashed {
    border: 3px $off-black dashed !important;
}

/**
* @atom Text Decoration
* @section Typography
* @markup
*  <strong>Strong: @{lipsum:4:words}  <a href="">@{lipsum:1:words}</a></strong>
*  <b>Bold: @{lipsum:4:words} <a href="">@{lipsum:1:words}</a></b>
*  <small>Small: @{lipsum:4:words}  <a href="">@{lipsum:1:words}</a></small>
*  <em>Em: @{lipsum:4:words}  <a href="">@{lipsum:1:words}</a></em>
*/
strong{}