    html,
    body {
        @include font;
        color: #333;
        font-size:ms(1);
        line-height: 1.4rem;
    }

/**
* @atom Headline Tags
* @section Typography > Headers
* @modifiers
*  &.display-[x] Produces large display sized text where x is a number 2 through 4. Thins only works on h1,h2,h3,h4 and p.
*  a.tag  Produces the header tag in the dark teal color of the site with an underline on hover. 
* @markup
*  <h1>This is an h1 heading</h1>
*  <h2>This is an h2 heading</h2>
*  <h3>This is an h3 heading</h3>
*  <h4>This is an h4 heading</h4>
*  <h5>This is an h5 heading</h5>
*  <h6>This is an h6 heading</h6>
*  <hr class="section-divider"/>
*  <div>
*  <h1 class="display-4 inline">display-4</h1>
*  <h1 class="display-3 inline">display-3</h1>
*  <h1 class="display-2 inline">display-2</h1>
*  <h1 class="inline">H1 Tag</h1></div>
*  <div>
*  <h2 class="display-4 inline">display-4</h2>
*  <h2 class="display-3 inline">display-3</h2>
*  <h2 class="display-2 inline">display-2</h2>
*  <h2 class="inline">h2  <a href="">@{lipsum:1:words}</a></h2></div>
*  <h3>This is an h3 heading</h3>
*  <h4>This is an h4 heading</h4>
*  <h5>This is an h5 heading</h5>
*  <h6>This is an h6 heading</h6>
*/

    %header-link {
        a {
            color: $scrub-teal;
            text-decoration: none;
            &:hover {
                color: $scrub-teal-dark;
                text-decoration: underline
            }
        }
        &.inline{display:inline;}
    }
    
    h1 {
        @extend %header-link;
        @include font-display("light");
        color: $orange-dark;
        &.display-4{ font-size:ms(7, $ms-base, $ms-ratio-4);}
        &.display-3{ font-size:ms(7, $ms-base, $ms-ratio-3);}
        &.display-2{ font-size:ms(7, $ms-base, $ms-ratio-2);} 
        &.display-4,&.display-3,&.display-2{font-weight:100;}       
    }

    h2 {
        @extend %header-link;
        @include font-display("light");
        color: $orange-dark;
        &.display-4{ font-size:ms(5, $ms-base, $ms-ratio-4);}
        &.display-3{ font-size:ms(5, $ms-base, $ms-ratio-3);}
        &.display-2{ font-size:ms(5, $ms-base,$ms-ratio-2);} 
        &.display-4,&.display-3,&.display-2{font-weight:100;}  
    }

    h3 {
        @extend %header-link;
        @include font-display("light");
        color: $orange-dark;
        &.display-4{ font-size:ms(3, $ms-base, $ms-ratio-4);}
        &.display-3{ font-size:ms(3, $ms-base, $ms-ratio-3);}
        &.display-2{ font-size:ms(3, $ms-base,$ms-ratio-2);} 
         &.display-4,&.display-3,&.display-2{font-weight:100;}   
    }
    h4 {
        @extend %header-link;
        @include font-display("regular");
        color: $warm-grey-dark;
        &.display-4{ font-size:ms(2, $ms-base, $ms-ratio-4);}
        &.display-3{ font-size:ms(2, $ms-base, $ms-ratio-3);}
        &.display-2{ font-size:ms(2, $ms-base,$ms-ratio-2);} 
         &.display-4,&.display-3,&.display-2{font-weight:300;}   
    }
    p{
        &.display-4{ font-size:ms(1, $ms-base, $ms-ratio-4);}
        &.display-3{ font-size:ms(1, $ms-base, $ms-ratio-3);}
        &.display-2{ font-size:ms(1, $ms-base,$ms-ratio-2);}  
    }



// style all typograpy content inside of the containing div to remove scope from the rest of the design. 

        a {
            color: $scrub-teal;
            &.more {
                @include font("bold");
                display: inline-block;
                text-decoration: none;
            }
            &:hover,
            &:active {
                text-decoration: underline; outline: none;
            }
        }
        p {
            margin: 0 0 .5em 0;
            line-height: $baseline-modifier;
        }
        p + p{margin-top:.5rem;}
        ol,
        ul {
            margin: 0 0 1em 0;
            padding: 0;
            list-style-type: none;
            ol,
            ul {
                margin-top: 0.25em;
                margin-bottom: 0.5em;
                margin-left: 1.25em;
            }
        }
        ol li{
            margin-left: 20px;
            list-style-type: decimal;
        }
         ul li {
            margin-left: 20px;
            list-style-type: disc;
        }
         // Alternate Typography. 
        address {
            font-style: normal;
        }
        img,a img {
            height: auto;
            width: 100%;
        }


hr {
    margin-bottom: 1em;
    border: solid 1px $warm-grey-light;
    border-width: 1px 0 0;
}



/**
* Horizontal spacers and rules are used to break up content.  
*
* @atom Horizontal Rules
* @section Dividers
* @markup
*  <hr class="divider orange dotted">
*  <hr class="divider grey dashed">
*  <strong>There is a spacer between the two sentences</strong>
*  <p>@{lipsum:sentence}</p>
*  <hr class="line-spacer"/>
*  <p>@{lipsum:sentences}</p>
*  <hr class="section-divider">
*
* @modifiers
*  .grey.dashed         Rules bettween items to items in lists use a grey dashed line
*  .orange.dotted       Rules between groups to groups use orange dotted rules
*  .teal.bold           Rules between Major Section to Section of Page are blue thick lines.  
*  .space               Spacer with no decoration but increased space between objects
*  .line-spacer         Alias for .divider.space
*  .item-divider        Alias for .divider.grey.dashed
*  .group-divider       Alias for .divider.orange.dotted
*  .section-divider     Alias for .divider.teal.bold
*/
.divider{
    padding-bottom:ms(-1);
}
hr, .divider,.line-spacer,.item-divider, .group-divider,.section-divider{ 
    margin-bottom:ms(-1); 
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-top:none transparent 0;
} 
.divider,hr{ 
    &.grey,&.item-divider{
      border-bottom-color:$warm-grey-light;
    }
    &.teal,&.section-divider{
      border-bottom-color:rgba($scrub-teal,.5);
    }
    &.orange,&.group-divider{
      border-bottom-color:rgba($orange,.5);
    }
    &.dashed,&.item-divider{ border-bottom-style:dashed}
    &.dotted,&.group-divider{ border-bottom-style:dotted}
    &.bold,&.section-divider{ border-bottom-width:2px; }
    &.space, &.line-spacer{ border-bottom: 0px none transparent;margin-bottom:ms(0); padding-bottom:ms(0);}

}

hr{
    padding-bottom: 0;
    margin-top: ms(-1);
    &.space,&.line-spacer{padding-bottom:0; margin-top:ms(0);}
}

/**
* @atom Text Decoration
* @section Typography > Decorators
* @markup
*  <div><strong>Strong: @{lipsum:4:words}  <a href="">@{lipsum:1:words}</a></strong></div>
*  <div><b>"Bold": @{lipsum:4:words} <a href="">@{lipsum:1:words}</a></b></div>
*  <div><small>Small: @{lipsum:4:words}  <a href="">@{lipsum:1:words}</a></small></div>
*  <div><em>Em: @{lipsum:4:words}  <a href="">@{lipsum:1:words}</a></em></div>
*/
strong{}


/*
* Links will auto decorate with an icon of the corresponding file type
*
* @atom File Links
* @section Typography > Decorators
* @markup
*  <a class="link" href="abc.pdf">A link that is a Pdf Document</a><br/>
*  <a class="link" href="abc.doc">A link that is a Word Document</a><br/>
*  <a class="link" href="https://www.abc.ppt">An External link that is a Power Point Document</a><br/>
*  <a class="link" href="tel:1-555-555-5555">1-555-555-5555</a><br/>
*  <a class="link" href="mailto:test@abc.org">test@abc.org</a><br/>
*  <a class="link" href="xyz.zip">A link that is a Zip Document</a><br/>
* @modifiers
*  .pdf Portable Document Format
*  .doc Word Documents
*  .txt Text Documents
*  .ppt Power Points
*  mailto: email links
*  tel: Telephone 
*  fax: Fax 
*  _blank External Link icons will appear after any link that has target blank, or the href begins with http, or https
 */

a.link {
    @extend .icon-before;

    &[href*=".pdf"]:before {
        content: "\f1c1";
    }

    &[href*=".doc"]:before, &[href*=".docx"]:before, &[href*=".txt"]:before {
        content: "\f016";
    }

    &[href*=".zip"]:before {
        content: "\f1c6";
    }

    &[href*=".ppt"]:before, &[href*=".pptx"]:before {
        content: "\f080";
    }

    &[href*=".csv"]:before, &[href*=".xls"]:before, &[href*=".xlsx"]:before {
        content: "\f0ce";
    }

    &[href*=".mp4"]:before, &[href*=".mov"]:before {
        content: "\f03d";
    }

    &[target='_blank']:after, &[href^="http"]:after, &[href^="https"]:after {
        @extend .icon-after;
        content: "\f14c";
    }

    &[href^="mailto:"]:before {
        content: "\f003";
    }

    &[href^="tel:"]:before {
        content: "\f095";
    }

    &[href^="fax:"]:before {
        content: "\f1ac";
    }

    &:hover {
        text-decoration: underline;
    }
}





@import "included/table";
@import "included/table_scrollable";

/**
* @atom Typography Kitchen Sink
* @section Typography > kitchensink
* @markup
*  <section>
*      <h4>Headers</h4>
*      <hr>
*      <h1>Header 1</h1>
*      <h2>Header 2</h2>
*      <h3>Header 3</h3>
*      <h4>Header 4</h4>
*      <h5>Header 5</h5>
*      <h6>Header 6</h6>
*  </section>
*  <section>
*      <h4>Lists</h4>
*      <hr>
*      <ul>
*          <li>Item 1</li>
*          <ul>
*              <li>Item 1</li>
*              <li>Item 2</li>
*          </ul>
*          <li>Item 2</li>
*          <li>Item 3</li>
*          <li>Item 4</li>
*      </ul>
*      <ol>
*          <li>Item 1</li>
*          <ol>
*              <li>Item 1</li>
*              <li>Item 2</li>
*          </ol>
*          <li>Item 2</li>
*          <li>Item 3</li>
*          <li>Item 4</li>
*      </ol>
*  </section>
*  <section>
*      <h4>Code Block</h4>
*      <hr>
*      <pre><code>header {
*      width:100%;
*      height:100vh;
*  }
*  
*  </code></pre>
*  </section>
*  </div>
*  <div class="col-md-6">
*      <section>
*          <h4>Paragraphs</h4>
*          <hr>
*          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit inventore rerum, ad eos ex harum, debitis adipisci ut <a href="#">laboriosam placeat</a> at fugiat earum, impedit quidem dicta repellendus vitae! Esse, quos.</p>
*          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, <code>est non commodo</code> luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing elit.</p>
*      </section>
*      <section>
*          <h4>Blockquotes</h4>
*          <hr>
*          <blockquote>
*              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cras mattis consectetur purus sit amet fermentum.
*          </blockquote>
*      </section>
*      <section>
*          <h4>Image Caption</h4>
*          <hr>
*          <figure>
*              <img src="http://placehold.it/700x300">
*              <figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
*          </figure>
*          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non totam cumque numquam eligendi a vitae ex. Dolorum hic itaque consequuntur mollitia nisi voluptatem in est, soluta eos molestias. Suscipit, consectetur.</p>
*      </section>
*  </div>
*  </div>
**/
.typography-kitchensink{}


