/**
 * Header of the CQC so you can navigate between section of the micro app.
 * 
 * @molecule CQC - CQC Header 
 * @section Xtra > CQC 
 * @markup
 *  <header class="cqc-header row">
 *   <hr class="divider teal bold m-t-0 "/>
 *       <div class="m-t-0 m-b-0">
 *          <ul class="nav-pills nav">
 *              <li class="nav-item active"><a class="nav-link">Practice Dashboard</a></li>
 *              <li class="nav-item"><a class="nav-link">Clnician Details</a></li>
 *              <li class="nav-item"><a class="nav-link">Clinician Management</a></li>
 *              <li class="nav-item pull-right"><a href="" class="nav-link alt"><i class="fa fa-plus"></i> Add Clinician</a></li>
 *          </ul>
 *       </div>
 *   <hr class="divider teal bold m-t-0"/>
 *   </header>
 **/
 .cqc-header{}

/**
 * Header of the practice Dashboard.
 * 
 * @molecule CQC - Practice Dashbaord Header 
 * @section Xtra > CQC 
 * @markup
 *  <header class="practice-dashboard-header row">
 *     <h1 class="m-b-0">Practice Dashboard</h1>
 *       <hr class="divider orange bold m-t-0 m-b-0 "/>
 *       <div class="box alt m-t-0 m-b-0 col-sm-12">
 *           <div class="row"><div class="col-sm-12 col-lg-8">
 *              <select name="practiceSelect" id="practiceSelect" class="form-control input-lg"><option>quis Lorem</option></select>
 *              <small>select a practice to view its details</small>
 *           </div>
 *           <div class="col-sm-6 col-lg-4"><a href="" class="btn btn-block btn-primary"><i class="fa fa-filter"></i> Filter By Date</a></div>
 *       </div> </div>    
 *  </header>
 *  <hr class="space"/>
 **/
 .practice-dashboard-header{}
.clinician-overview,.clinician-list-header{
    .data{
        @include font('bold');
        font-size:ms(0);
        text-align:center;
        display:block;
    }
        .data-holder + .data-holder{
        border-left:1px dotted white;
        margin-left:-1px;
    }
}

/**
 * The list of clinicians for the clinican dashboard
 * 
 * @molecule CQC - Clinician List Header 
 * @section Xtra > CQC 
 * @markup
 *  <div class="clinician-list-header row">
 *    <div class="col-sm-5"><a href="" class="btn btn-block btn-secondary">Run Report</a></div>
 *    <div class="col-sm-7 data-holder box alt m-t-0 m-b-0 swappable medium"><div class="row">
 *        <div class="col-sm-2 data-holder"><span class="data long-text">Boards</span><span class="data short-text">Board</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data long-text">Certificates</span><span class="data short-text">Cert</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data long-text">Continued Education</span><span class="data short-text">C. Edu</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data long-text">MOC II<a href="" class=""><sup><i class="fa fa-info-circle"></i></sup></a></span><span class="data short-text">MOC2<a href="" class=""><sup><i class="fa fa-info-circle"></i></sup></a></span></div>
 *        <div class="col-sm-2 data-holder"><span class="data long-text">CMS/MOC IV</span><span class="data short-text">MOC4</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data long-text">Active CQAs</span><span class="data short-text">CQAs</span></div>
 *    </div></div>
 *  </div>
 * 
 * 
 **/
.clinicians-list-header{}
/**
 * The overview data of a clinician.
 * 
 * @molecule CQC - Clinician Overview 
 * @section Xtra > CQC 
 * @markup
 *  <div class="clinician-overview row">
 *    <div class="col-sm-5 id">
 *          <h2 class="name">
 *              <a class="link">@{lipsum:1:words},@{lipsum:2:words}</a>
 *              </h2>
 *          <ul class="no-bullets"><li><h6 class="m-0 license">
 *               License :
 *               <span class="value">
 *                   MD
 *               </span>
 *               <span class="value">
 *                   VA
 *               </span>
 *               <a href="http://www.fsmb.org/policy/contacts">
 *                  <sup><i class="fa fa-info-circle"></i></sup>
 *               </a>
 *           </h6></li>
 *           <li><h6 class="m-0 npi">
 *               NPI:
 *               <span class="value">
 *                  @{lipsum:10:numbers}
 *               </span>
 *           </h6></li>
 *           </ul>
 *      <div class="more-link"> <a href="" class="link"><i class="fa fa-plus"></i> Show Detail Data</a></div>
 *    </div>
 *    <div class="col-sm-7"><div class="row">
 *        <div class="col-sm-2 data-holder"><span class="data">@{lipsum:1:numbers}</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data">@{lipsum:1:numbers}</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data">@{lipsum:1:numbers}</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data">@{lipsum:1:numbers}</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data">@{lipsum:1:numbers}</span></div>
 *        <div class="col-sm-2 data-holder"><span class="data">@{lipsum:2:numbers}</span></div>
 *    </div></div>
 *  </div>
 * 
 * 
 **/
.clinician-overview{
    border-top:1px solid $scrub-teal-light;
    border-bottom: 1px solid $warm-grey;
    background:$soft-blue;
    .name{margin:.5em 0 .25em;}
    .data{
        font-size:ms(4);
        vertical-align:middle;
        margin: 1.375em auto;
        width: 1em;
    }

    .id{
        background-color:white;
        padding:.25em 0 0;
    }

}
.more-link{
    padding:.35rem;
    margin-top:.75rem;
    border-top: 1px solid $warm-grey;
}


/**
 * Highly stylized list
 * 
 * @molecule Banded Lists
 * @section Lists > Banded 
* @modifiers
 *  .bg-orange-dark decorator class that turns the Li background to orange-dark.
 *  .bg-orange-light decorator class that turns the Li background to orange-light.
 *  .bg-pink decorator class that turns the Li background to pink.
 *  .bg-blue decorator class that turns the Li background to blue.
 *  .bg-warm-grey-dark decorator class that turns the Li background to warm-grey-dark.
 *  .bg-warm-grey decorator class that turns the Li background to warm-grey.
 *  .bg-scrub-teal decorator class that turns the Li background to scrub-teal.
 *  .bg-mix-teal_orange decorator class that turns the Li background to mix-teal_orange.
 *  .bg-mix-orange_teal decorator class that turns the Li background to mix-orange_teal.
 * @markup
 *  <ul class="banded-list">
 *   <li>
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar-primary}</div>
 *      </div>
 *   </li>
 *   <li>
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar-primary}</div>
 *      </div> 
 *   </li>
 *   <li>
 *      <div class="row">
 *        <div class="col-sm-7"><strong>@{lipsum:3:words}</strong></div>
 *        <div class="col-sm-2 text-right"><small><em>Started:</em> @{lipsum:1:numbers}/@{lipsum:1:numbers}/2017</small></div>
 *        <div class="col-sm-3">@{include:.progress-bar-primary}</div>
 *      </div>
 *   </li>
 *  </ul>
 **/
ul.banded-list{
    @extend .no-bullets;
    @extend .no-indent;
    .progress{
        height:1rem;
        margin-bottom:0;
    }
    .progress-bar{
        font-size: ms(-3);
        line-height: 1.75em;
    }

    li:nth-child(even){
        background-color:mix($soft-blue,white,25%);
    }
    li, li:nth-child(even){

        padding:.5rem 1rem;
        &.bg-warm-grey{ background-color: $warm-grey; color: $off-white}
        &.bg-warm-grey-dark{ background-color: $warm-grey-dark; color: $off-white}
        &.bg-orange-dark{ background-color: $orange-dark; color: $off-white}
        &.bg-orange-light{ background-color: $orange-light; color: $off-black}
        &.bg-scrub-teal{ background-color: $scrub-teal; color: $off-white}
        &.mix-teal_orange{background-color:$mix-teal_orange; color: $off-white}
        &.mix-orange_teal{background-color:$mix-orange_teal; color: $off-white}
        &.bg-pink{background-color: #e91e63; color:white;}
        &.bg-blue{background-color: #e91e63; color:white;}

    }

    
}
/**
 * The expanded data of a clinician.
 * 
 * @molecule CQC - Clinician Data 
 * @section Xtra > CQC 
 * @markup
 *  <div class="clinician-data row">
 *  <div class="panel-group accordion basic">
 *       <div aria-multiselectable="true" class="panel" id="accordionboards" role="tablist">
 *               <div class="panel-heading" id="headingOne" role="tab">
 *                   <h4 class="panel-title">
 *                       <a aria-controls="accordionboardsbasic" aria-expanded="true" class="collapsed" data-parent="#accordionboards" data-toggle="collapse" href="#accordionboardsbasic" role="button">
 *                           <span class="text">
 *                               Boards
 *                           </span>
 *                           <strong class="pull-right">
 *                               2
 *                           </strong>
 *                       </a>
 *                   </h4>
 *               </div>
 *               <div aria-expanded="true" aria-labelledby="headingOne" class="panel-collapse collapse" id="accordionboardsbasic" role="tabpanel">
 *                   <div class="panel-body">
 *                       <ul class="banded-list">
 *                         <li>
 *                               <div class="row">
 *                                   <div class="col-sm-9">
 *                                       <strong>
 *                                           @{lipsum:3:words}
 *                                       </strong>
 *                                   </div>
 *                                   <div class="col-sm-3 text-right">
 *                                       <small>
 *                                           <em>
 *                                               Diplomate #:
 *                                           </em>
 *                                           @{lipsum:9:numbers}
 *                                       </small>
 *                                   </div>
 *                               </div>
 *                           </li>
 *                           <li>
 *                               <div class="row">
 *                                   <div class="col-sm-9">
 *                                       <strong>
 *                                           @{lipsum:3:words}
 *                                       </strong>
 *                                   </div>
 *                                   <div class="col-sm-3 text-right">
 *                                       <small>
 *                                           <em>
 *                                               Diplomate #:
 *                                           </em>
 *                                           @{lipsum:9:numbers}
 *                                       </small>
 *                                   </div>
 *                               </div>
 *                           </li>
 *                       </ul>
 *                   </div>
 *               </div>
 *           </div>
 *       </div>
 *  <div class="panel-group accordion basic">
 *       <div aria-multiselectable="true" class="panel" id="accordioncerts" role="tablist">
 *               <div class="panel-heading" id="headingOne" role="tab">
 *                   <h4 class="panel-title">
 *                       <a aria-controls="accordioncertsbasic" aria-expanded="true" class="collapsed" data-parent="#accordioncerts" data-toggle="collapse" href="#accordioncertsbasic" role="button">
 *                           <span class="text">
 *                               Certificates
 *                           </span>
 *                           <strong class="pull-right">
 *                               2
 *                           </strong>
 *                       </a>
 *                   </h4>
 *               </div>
 *               <div aria-expanded="true" aria-labelledby="headingOne" class="panel-collapse collapse" id="accordioncertsbasic" role="tabpanel">
 *                   <div class="panel-body">
 *                       <ul class="banded-list">
 *                         <li>
 *                               <div class="row">
 *                                   <div class="col-sm-9">
 *                                       <strong>
 *                                           @{lipsum:3:words}
 *                                       </strong>
 *                                   </div>
 *                                   <div class="col-sm-3 text-right">
 *                                       <small>
 *                                           <em>
 *                                               Expires:
 *                                           </em>
 *                                           2/9/202@{lipsum:1:numbers}
 *                                       </small>
 *                                   </div>
 *                               </div>
 *                           </li>
 *                           <li>
 *                               <div class="row">
 *                                   <div class="col-sm-9">
 *                                       <strong>
 *                                           @{lipsum:3:words}
 *                                       </strong>
 *                                   </div>
 *                                   <div class="col-sm-3 text-right">
 *                                       <small>
 *                                           <em>
 *                                               Expires:
 *                                           </em>
 *                                           2/9/202@{lipsum:1:numbers}
 *                                       </small>
 *                                   </div>
 *                               </div>
 *                           </li>
 *                       </ul>
 *                   </div>
 *               </div>
 *           </div>
 *       </div>
 *  <div class="panel-group accordion basic m-b-0">
 *   <div class="panel" id="accordionData" role="tablist" aria-multiselectable="true">
 *       <div class="panel-heading" role="tab" id="headingOne">
 *         <h4 class="panel-title">
 *           <a role="button" data-toggle="collapse" data-parent="#accordionData" href="#accordionDatabasic" aria-expanded="true" aria-controls="accordionDatabasic" class="collapsed">
 *             <span class="text">Active CQAs</span>
 *             <strong class="pull-right">3</strong>
 *           </a>
 *         </h4>
 *       </div>
 *       <div id="accordionDatabasic" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
 *         <div class="panel-body">
 *          @{include:ul.banded-list}
 *         </div>
 *       </div>
 *   </div>
 *  </div>
 *  </div>
 **/
.clinician-data{
    .panel-group .panel{border-radius:0;border:0 none;}
    .accordion .panel-heading{border-bottom:$warm-grey 2px solid;border-top:$warm-grey 2px solid;border-radius:0;}
    .panel-body{padding:0;}
    .panel-title{font-size:ms(1);}
}


/**
 * the list of clinicians for the clinican dashboard
 * 
 * @structure CQC - Clinician List
 * @section Xtra > CQC 
 * @markup
 *  <div class="clinician-list">
 *     @{include:.clinicians-list-header}
 *     <div class="cliician">
 *     @{include:.clinician-overview}
 *     @{include:.clinician-data}
 *     </div>
 *     <div class="cliician">
 *     @{include:.clinician-overview}
 *     @{include:.clinician-data}
 *     </div>
 *  </div>
 *     
 */
.clinicians-list{}

/**
 * A mirco app inside the cvquality runs the administration of Clinical Quaility Coach.
 * 
 * @layouts CQC Page - Practice Dashboard
 * @section Wireframes CQC > Practice Dashboard
 * @flag full-width
 * @markup
 *  <div class="body">
 *      <div class="wrapper container-fluid">
 *           @{include:#header}
 *           @{include:.mobile-menu-toggle-container}
 *           <div class="row">@{include:.nav-primary}</div>
 *           <div id="aux" class="row">@{include:.breadcrumb}</div>
 *           <div id="layout" class="row no-gutter">
 *              <div class="col-lg-3 col-md-4 col-xl-3 p-0 d-none d-lg-block"> @{include:.nav-sub}@{include:.nav-social-button.small}</div>
 *              <div class="col-lg-9 col-md-8 col-xl-13">
 *                  <div class="page-content">
 *                      @{include:.cqc-header} 
 *                      @{include:.practice-dashboard-header}
 *                      @{include:.clinicians-list}
 *                      <hr class="divider bold teal row"/>
 *                      <div class="pull-right">@{include:.pagination}</div>
 *                  </div>
 *              </div>
 *           </div>
 *           @{include:#footer}
 *      </div>
 *  </div>
 */
 .x-cqc-page{}
