/**
 * Footer of CV Qaulity combines, footer-nav, socail-nav, and logos to make a renforcing page structure.
 * @structure Footer Nav
 * @section Page Section
 *
 * @markup
 *  <footer id="footer" role="contentinfo">
 *         <div class="row">
 *             <div class="col-md-3">
 *                 @{include:address.vcard}
 *             </div>
 *             <div class="col-md-5">
 *             <div class="row">
 *             @{include:#footer-sitemap}
 *             </div>
 *             </div>
 *             <div class="col-md-4">
 *                 @{include:.nav-social-button}
 *             </div>
 *         </div>
 *     <!-- wrapper -->
 *  </footer>
 *
 */
#footer {
	clear: both;
	padding: 10px 0 30px;
	position: relative;
	overflow: visible;
	color: $off-black;
	background: $warm-grey;
	@include bp(md) {
		padding-top: 12px;
		padding-bottom: 30px;
	}
	.nav-social-button h2{ 
		font-size: ms(-1);
        line-height: 1.4em;
        color: $off-black;
		 display: table-cell;
        height: 3rem;
        vertical-align: bottom;
    }
}








