/**
 * Footer of CV Qaulity combines, footer-nav, socail-nav, and logos to make a renforcing page structure.
 * @structure Footer Nav
 *
 * @markup
 *  <footer id="footer" role="contentinfo">
 *     <div class="wrapper container-fluid">
 *         <div class="row">
 *             <div class="col-md-3">
 *                 @{include:address.vcard}
 *             </div>
 *             <div class="col-md-5">
 *             <div class="row">
 *             @{include:#footer-sitemap}
 *             </div>
 *             </div>
 *             <div class="col-md-4">
 *                 @{include:.social-buttons}
 *             </div>
 *         </div>
 *     </div>
 *     <!-- wrapper -->
 *  </footer>
 *
 */
#footer {
	clear: both;
	padding: 10px 0 30px;
	position: relative;
	overflow: visible;
	color: $off-black;
	background: $warm-grey;
	.wrapper {
		background:transparent;		
	}
	@include bp(md) {
		padding-top: 12px;
		padding-bottom: 30px;
	}
}








