/* Header */

#site-logo img {
    max-width: 100%;
}

#header .nav-utility {
    display: none;
}

#site-search {
    padding: 0.5em 3%;
    background: #a1a0a4;
    border-bottom: dotted 1px #fff;
}

.initiative #site-search {
    background: #a1a0a4;
}

#site-search {
    label {
        position: absolute;
        left: -9999px;
    }
    input#keyword {
        width: 70%;
    }
}
