.mobile-menu-toggle {
    text-transform: uppercase;
    cursor: pointer; 
    text-align:right;
    display: block;
    position: relative;
    .text{
        @include font(700);
        font-size: 1.25rem;
        color: $scrubteal;
        display: inline-block;
        vertical-align: top;
        padding: .5rem .25rem;
    }
    i.fa {
        color: $warm-grey;
        font-size: 2.125rem;
        margin: .125rem;
    }
}


/**
 * Container for the Menu Toggle for the Mobile Nav. ~Inline Style should be removed. Currently used so it will show on all screen dimensions~
 *
 * @structure Mobile Menu Toggle
 * @section Nav > Mobile
 * @markup
 *  <div class="mobile-menu-toggle-container row show-mobile">
 *      <div class="col-md-7">
 *         <div class="user-status-container">
 *              <nav class="nav-user-status">
 *                   <ul class="nav">
 *                       <li class="register nav-item action">
 *                           <a class="nav-link" title="Register" href="javascript:__doPostBack('ctl00$qiiLoginStatus$lnkLogout','')">Register</a>
 *                       </li>
 *                       <li class="logout nav-item action">
 *                           <a class="nav-link" title="Logout" href="javascript:__doPostBack('ctl00$qiiLoginStatus$lnkLogout','')">Logout</a>
 *                       </li>
 *                   </ul>
 *             </nav>
 *         </div>
 *      </div>
 *      <div class="col-md-5">
 *           <div class="mobile-menu-toggle"><span class="text">Menu</span> <i class="fa fa-bars"></i></div>
 *      </div>
 *  </div>
 */


.mobile-menu-toggle-container {
    position: relative;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: 2.75rem;
    @include lightgrey-gradient;
    @include dropshadow;
    .user-status-container{
        height:2.25rem;
        padding:.5rem 0;
        .user{ display: none;}
        .nav-user-status{
           float:left;
           .acount{display:none;}
        }
        .user + .nav-user-status {
            margin-top: 0rem;
        }
    }
    @include bp(sm){
        display: none;
        &.show-mobile{display:block;}
    }
}
