


/**
 * Container for the Menu Toggle for the Mobile Nav when user is anonymous. 
 *
 * @structure Mobile Menu Toggle (ANONYMOUS)
 * @section Page Sections > Mobile Toggle
 * @markup
 *  <div class="mobile-menu-toggle-container">
 *         <div class="user-status-container">
 *              <nav class="nav-user-status">
 *                   <ul class="nav no-account">
 *                       <li class="register nav-item action">
 *                           <a class="nav-link" title="Register" href="">Register</a>
 *                       </li>
 *                       <li class="logout nav-item action">
 *                           <a class="nav-link" title="Logout" href="">Logout</a>
 *                       </li>
 *                   </ul>
 *                 <!--<div class="user account"><span class="welcome">Welcome</span><span class="username">[User Name]</span></div>-->
 *             </nav>
 *         </div>
 *         <div class="mobile-menu-toggle" onclick="$('.mobile-menu-container').toggleClass('open')"><span class="text">Menu</span> <i class="fa fa-bars"></i></div>
 *  </div>
 *  <div class="mobile-menu-container">
 *     @{include:.nav-primary}
 *  </div>
 */


.mobile-menu-toggle-container {
    position: relative;
    display: flex;
    padding: .25rem .75rem;
    height: 2.75rem;
    @include lightgrey-gradient;
    @include dropshadow;
    align-content:space-between;
    @include bp(md){
        display: none;
    }
    .user-status-container, .mobile-menu-toggle{
        flex:1 0 auto;
    }
    .user-status-container{
        height:2.25rem;
        padding:.65rem 0;
        .user{ display: none;}
        .nav-user-status{
            text-align: left;
        }
        .user + .nav-user-status {
            margin-top: 0rem;
        }
    }

}
.mobile-menu-toggle {
    text-transform: uppercase;
    cursor: pointer; 
    text-align:right;
    display: block;
    position: relative;
    .text{
        @include font(700);
        font-size: 1.25rem;
        color: $scrub-teal;
        display: inline-block;
        vertical-align: top;
        padding: .5rem .25rem;
    }
    i.fa {
        color: $warm-grey;
        font-size: 2.125rem;
        margin: .125rem;
    }
}

.mobile-menu-container{
    overflow: hidden;
    max-height: 0;
    transition:max-height 1s ease-in-out;
    -webkit-transition:max-height 1s ease-in-out;
    -moz-transition:max-height 1s ease-in-out;
    &.open{
        max-height: 3000px;
    }
    @include bp(md){
       &,&.open{max-height: initial;overflow: visible;}
    }
}

/**
 * Container for the Menu Toggle for the Mobile Nav when there is an authenticated user. 
 *
 * @structure Mobile Menu Toggle (AUTHENTICATED)
 * @section Page Sections > Mobile Toggle
 * @markup
 *  <div class="mobile-menu-toggle-container">
 *         <div class="user-status-container">
 *              <nav class="nav-user-status">
 *                   <!-- <ul class="nav no-account">
 *                       <li class="register nav-item action">
 *                           <a class="nav-link" title="Register" href="">Register</a>
 *                       </li>
 *                       <li class="logout nav-item action">
 *                           <a class="nav-link" title="Logout" href="">Logout</a>
 *                       </li>
 *                   </ul> -->
 *                 <div class="user account"><span class="welcome">Welcome</span><span class="username">[User Name]</span></div>
 *             </nav>
 *         </div>
 *         <div class="mobile-menu-toggle" onclick="$('.mobile-menu-container').toggleClass('open')"><span class="text">Menu</span> <i class="fa fa-bars"></i></div>
 *  </div>
 *  <div class="mobile-menu-container">
 *     @{include:.nav-primary}
 *  </div>
 */

 .mobile-menu-toggle-container.authenticated{}