/**
 * Container for the Menu Toggle for the Mobile Nav. ~Inline Style should be removed. Currently used so it will show on all screen dimensions~
 *
 * @structure Mobile Menu Toggle
 * @section Nav > Mobile
 * @markup
 *  <div class="mobile-menu-toggle-container row no-gutter">
 *      <div class="col-7">
 *          @{include:.user-status-container}
 *      </div>
 *      <div class="col-5">
 *           @{include:.mobile-menu-toggle}
 *      </div>
 *  </div>
 */


.mobile-menu-toggle-container {
    position: relative;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .25rem;
    height: 2.75rem;
    @include lightgrey-gradient;
    @include dropshadow;
    .user-status-container{
        height:2.25rem;
        padding:.5rem 0;
        .user{ display: none;}
        .nav-user-status{
            @extend .justify-content-start;
            .acount{display:none;}
        }
        .user + .nav-user-status {
            margin-top: 0rem;
        }
    }
    @include bp(sm){
        display: none;
    }
}
