/**
 * Page Layout of a basic page
 * 
 * @layouts Page
 * @section Layouts
 * @flag full-width
 * @markup
 *  <div class="body">
 *      <div class="wrapper container-fluid">
 *           @{include:#header}
 *           @{include:.mobile-menu-toggle-container}
 *           <div class="row">@{include:.nav-primary}</div>
 *      <div id="aux" class="row">@{include:.breadcrumb}</div>
 *      <div id="layout" class="row no-gutter">
 *          <div class="col-lg-2 p-0 d-none d-lg-block"> @{include:.nav-sub}@{include:.nav-social-button.small}</div>
 *          <div class="col-lg-10 col"><div class="page-content"><h1>Sample Page</h1> @{include:dl.grouped-definision-list}</div></div>
 *      </div>
 *       @{include:#footer}
 *  </div>
 *  </div>
 */

 body, .body {
    @include lightblue-gradient;
}
.wrapper {
    margin: 0 auto;
    max-width: 1020px;
    background: #fff;
@include bp(xl){max-width:1150px;}
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    *zoom: 1;
}

.page-content{
    padding: .5rem  0 1rem;
   @include bp(md){ padding: .5rem 1rem 2rem;}
    + .page-content{
        padding-top:0;
        @include bp(md){  margin-top:-1rem;}
    }
}


/**
 * Home page layout uses special cards to make more of a varried typography which doesn't exsist in sub pages. 
 * 
 * @layouts Home Page
 * @section Layouts
 * @flag full-width
 * @markup
 *  <div class="body">
 *      <div class="wrapper container-fluid">
 *           @{include:#header}
 *          <div class="row">@{include:.nav-primary}</div>
 *          <div id="layout">
 *              <div class="page-content">
 *                  <div class="row">
 *                      <div class="col-lg-4">
 *                          @{include:.featured.card}</div>
 *                      <div class="col-lg-8">
 *                          @{include:.carousel}
 *                          @{include:.leaderboard-lg}
 *                      </div>
 *                  </div>
 *                  <div class="row vh_40">
 *                      <div class="col-lg-8 col-md-7">@{include:.undecorated.card}</div> 
 *                      <div class="col-lg-4 col-md-5">@{include:.highlighted.card}</div>
 *                  </div><div class="row vh_40">
 *                      <div class="col-lg-4 col-md-5">@{include:.highlighted.card}</div>
 *                      <div class="col-lg-8 col-md-7">@{include:.undecorated.card}</div>
 *                  </div>
 *              </div>           
 *          </div>
 *       @{include:#footer}
 *      </div>
 *  </div>
 *  </div>
 */
.homepage{}