/**
 * Page Layout of a basic page
 * 
 * @layouts Page
 * @section Layouts
 * @flag full-width
 * @markup
 *  <div class="body">
 *      <div class="wrapper container-fluid">
 *           @{include:#header}
 *           @{include:.mobile-menu-toggle-container}
 *           <div class="row">@{include:.nav-primary}</div>
 *      <div id="aux" class="row">@{include:.breadcrumb}</div>
 *      <div id="layout" class="row no-gutter">
 *          <div class="col-lg-2 p-0 d-none d-lg-block"> @{include:.nav-sub}</div>
 *          <div class="col-lg-10 col"><div class="page-content"><h1>Sample Page</h1> @{include:ul.no-bullets}</div></div>
 *      </div>
 *       @{include:#footer}
 *  </div>
 *  </div>
 */

 body, .body {
    @include lightblue-gradient;
}
.wrapper {
    margin: 0 auto;
    max-width: 1020px;
    background: #fff;
@include bp(xl){max-width:1150px;}
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    *zoom: 1;
}

.page-content{
    padding: 1rem 1rem 2rem;
    + .page-content{padding-top:0;margin-top:-1rem;}
}


/**
 * Home page layout uses special cards to make more of a varried typography which doesn't exsist in sub pages. 
 * 
 * @layouts Home Page
 * @section Layouts
 * @flag full-width
 * @markup
 *  <div class="body">
 *      <div class="wrapper container-fluid">
 *           @{include:#header}
 *          <div class="row">@{include:.nav-primary}</div>
 *          <div id="layout">
 *              <div class="page-content">
 *                  <div class="row"><div class="col-lg-4">@{include:.featured.card}</div>
 *                  <div class="col-lg-8">
 *                      @{include:.carousel}
 *                       <div class="card highlighted undecorated row">
 *                          <h3 class="card-header">@{lipsum:8:words}</h3>    
 *                           <div class="card-body">
 *                             <p>@{lipsum:1:paragraphss}</p>
 *                           </div>
 *                            <div class="row">
 *                                <div class="col-md-6">&nbsp;</div>
 *                                <div class="col-md-6"> 
 *                                  <div class="card-action">
 *                                       <a class="btn btn-primary btn-block">Action</a>
 *                                  </div>
 *                                </div>
 *                            </div>
 *                         </div>
 *                      </div>
 *                  </div>
 *                  <div class="row vh_30">
 *                      <div class="col-lg-4">@{include:.highlighted.card}</div> 
 *                      <div class="col-lg-4">@{include:.undecorated.card}</div>
 *                      <div class="col-lg-4">@{include:.highlighted.card}</div>
 *                  </div>
 *              </div>           
 *          </div>
 *      </div>
 *       @{include:#footer}
 *  </div>
 *  </div>
 */
.homepage{}