.site-logo-print{max-height:60px !important; width:auto!important;}
.sfPageEditor .visible-print-block{
	img{display:none;}
    &:after {
        content: "PRINT FRIENDLY AREA";
        display: block;
        position: relative;
        font-size: ms(-1);
        text-align: center;
    }
    display: block !important;
    opacity: .5;
    border: 2px dotted grey(60);
    margin:5px;
    background:$warm-grey-light;
}

// these are trump fixes when printing. 
@media print {
    .accordion {
        .panel-collapse, .panel-collapse.collapse {
            border: 1px dotted grey(10);
            display: block
        }

        .page-content {
            margin: 0 .25in;
        }

        .panel-title a:before {
            content: "\f078" !important;
        }
    }
}