.active,
.inactive,
.disabled {}

.hidden {
    display: none !important;
    visibility: hidden!important;
}

.highlighted {}

.error {
    color: $error-color;
}



.note span,
.required,
.asterisk {
    font-size: ms(-2);
    color: $orange-dark;
}
