/**
* Some times the defualt margin needs to be removed.  Adding these class will selectivly remove the margin of the DOM item it is placed on. 
* ~~ Open the example to see the other class and how they will effect the design ~~
*
* @section Helpers > trumps
* @mixin No Margin
* @example
*  class="m-0"      will remove the margin on all sides
*  class="m-l-0"    will remove the margin on the left
*  class="m-r-0"    will remove the margin on the right
*  class="m-t-0"    will remove the margin on the top
*  class="m-b-0"    will remove the margin on the bottom 
* 
*/
.no-margin{}
.m-0{@extend .no-margin; }
.m-0,.m-l-0{
    margin-left:0 !important;
}
.m-0,.m-r-0{
    margin-right:0 !important;
}
.m-0,.m-t-0{
    margin-top:0 !important;
}
.m-0,.m-b-0{
    margin-bottom:0 !important;
}
.no-margin{@extend .m-0;}

.p-0,.p-l-0{
    padding-left:0 !important;
}
.p-0,.p-r-0{
    padding-right:0 !important;
}
.p-0,.p-t-0{
    padding-top:0 !important;
}
.p-0,.p-b-0{
    padding-bottom:0 !important;
}
.no-padding{@extend .p-0;}

.no-gutter > .sf_cols > [class*='col-'],.no-gutter > [class*='col-'] {
    @extend .p-r-0;
     @extend .p-l-0;
}
.expanded{ width:100%;}
.input-group.expanded{
    width:100%;
     >*{
        width:100%;
     }
    }
.multi-column-md-2 {
    @include bp(md) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
    }
}
.multi-column-lg-2 {
    @include bp(lg) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
    }
}

/**
* Content padding often you will need to inject some spacing into the left and right of a container so the content and container do not collide. 
* ~~ Open the example to see the other class and how they will effect the design ~~
*
* @section Helpers > trumps
* @mixin Content Padding
* @example
*  class="content-padding"              will add a full gutter space on the left and right inside a container
*  class="content-padding half"         will add a 1/2 the  gutter space on the left and right inside a container
*  class="content-padding quarter"      will add a 1/4 gutter space on the left and right inside a container
* 
*/
.content-padding {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    &.half {
        padding-left: $grid-gutter-width/2;
        padding-right: $grid-gutter-width/2;
    }
    &.quarter {
        padding-left: $grid-gutter-width/4;
        padding-right: $grid-gutter-width/4;
    }
}



img + .btn.btn-block {
    line-height: 1.75;
    margin-top: 4px;
    }
.card + .card {
    margin-top: -.75rem;
}


// Icon for Sitfinity
.ACCMvcIcn{position:relative;}
.ACCMvcIcn:after {
    content: "A-MVC";
    display: block;
    position: absolute;
    padding: 1px 3px;
    left: 16px;
    bottom: 5px;
    background: #ffc425;
    color: #020202;
    font-size: 9px;
    font-weight: bold;
}