@import "setup";
body {
    background: white !important;
}

.SG-row {
    position: relative;
}

.SG-row .SG-row {
    margin: 0;
}

.SG-table .SG-table__cell {
    margin: 0;
}

.SG-layout {
    max-width: 100%;
}

.SG-header {
    padding: 0;
    .SG-logo {
        margin-top: 0;
        padding: 11px 16px 0px;
        display: block;
        width: 100%;
        color: white;
        background-color: $acc-blue;
    }
    .SG-nav {
        margin: 0;
        left: 0;
        text-align: left;
        top: auto;
        bottom: 0;
        width: 75%;
        display: inline-block;
    }
    .SG-nav-icons {
        padding-right: 25px;
        width: 75%;
        display: inline-block;
    }
}

.SG-component {
    margin-bottom: 50px;
    padding-left:10px;
    padding-right:10px;
    + .SG-component{
        margin-top: 20px;
        border-top:1px dotted $orange-light;
       
    }
    + .SG-row{ border-top:15px solid $soft-grey;}
    .SG-component__preview {
        margin-top: 20px;
    }
    .SG-component__title{
        font-size:ms(8);
    }
}

.SG-table {

  .SG-table__cell {
    padding: 5px 0;
    margin: 5px 0;
    color: $off-black;
  }

  .SG-table__head {

    color: $warm-grey-dark;
    font-weight: 900;
    border-bottom: 1px solid $scrub-teal-light;
  }
}
