@import "setup";
body {
    background: white !important;
}

.SG-row {
    position: relative;
}

.SG-row .SG-row {
    margin: 0;
}

.SG-table .SG-table__cell {
    margin: 0;
}

.SG-layout {
    max-width: 100%;
}

.SG-header {
    padding: 0;
    .SG-logo {
        margin-top: 0;
        padding: 11px 16px 0px;
        display: block;
        width: 100%;
        color: white;
        background-color: $acc-blue;
    }
    .SG-nav {
        background-color: grey(5);
        position: relative;
        margin: 0;
        max-width: 100%;
        display: flex;
        clear: both;
        flex-direction: column;
        width: 100%;
        float: left;

        .SG-nav__item{
            border-bottom:2px solid transparent;
            border-top:2px solid transparent;
            width:100%;
            margin:0;
            &:hover{
                border-top:#9b9b9b 2px solid;
                border-bottom:#9b9b9b 2px solid;
            }
        }
        .SG-nav__item.SG-nav__item--active{border-bottom:3px solid #a0518e;border-top:1px solid #a0518e; background-color:#fcecf8;}
        li{
                list-style: none;
                flex: 0 1 auto;
                position: relative;
                min-width: 0;
                margin:0;


             }
        @include bp(md){
            flex-direction: row;
            width: 100%;
             li{
                list-style: none;
                flex: 0 1 auto;
                position: relative;
                min-width: 0;
             }
              .SG-nav__item{width:auto;}
         }

    }
    .SG-nav-icons {
        padding-right: 25px;
        width: auto;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        li{margin:.5rem;}
    }
}

.SG-component {
    margin-bottom: 50px;
    padding-left:10px;
    padding-right:10px;
    + .SG-component{
        margin-top: 20px;
        border-top:1px dotted $orange-light;
       
    }
    + .SG-row{ border-top:15px solid $soft-grey;}
    .SG-component__preview {
        margin-top: 20px;
    }
    .SG-component__title{
        font-size:ms(8);
    }
}

.SG-table {

  .SG-table__cell {
    padding: 5px 0;
    margin: 5px 0;
    color: $off-black;
  }

  .SG-table__head {

    color: $warm-grey-dark;
    font-weight: 900;
    border-bottom: 1px solid $scrub-teal-light;
  }
}

.style-guide-override.tooltip{    
    display: block;
    position: relative;
    opacity: 1;
    width: 200px;}