.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  width: 278px;
  padding: 4px;
  margin-top: 1px;
  top: 100px;
  left: 20px;
  /* Calendars */ }

.daterangepicker:before, .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: ''; }

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc; }

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent; }

.daterangepicker.opensleft:before {
  right: 9px; }

.daterangepicker.opensleft:after {
  right: 10px; }

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto; }

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto; }

.daterangepicker.opensright:before {
  left: 9px; }

.daterangepicker.opensright:after {
  left: 10px; }

.daterangepicker.dropup {
  margin-top: -5px; }

.daterangepicker.dropup:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc; }

.daterangepicker.dropup:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff; }

.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3001; }

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none; }

.daterangepicker.show-calendar .calendar {
  display: block; }

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
  margin: 4px; }

.daterangepicker .calendar.single .calendar-table {
  border: none; }

.daterangepicker .calendar th, .daterangepicker .calendar td {
  white-space: nowrap;
  text-align: center;
  min-width: 32px; }

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff; }

.daterangepicker table {
  width: 100%;
  margin: 0; }

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer; }

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit; }

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc; }

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999; }

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0; }

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px; }

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0; }

.daterangepicker td.start-date.end-date {
  border-radius: 4px; }

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff; }

.daterangepicker th.month {
  width: auto; }

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through; }

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default; }

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%; }

.daterangepicker select.yearselect {
  width: 40%; }

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0; }

.daterangepicker .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  height: 30px;
  line-height: 30px;
  display: block;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 6px 0 28px;
  width: 100%; }

.daterangepicker .input-mini.active {
  border: 1px solid #08c;
  border-radius: 4px; }

.daterangepicker .daterangepicker_input {
  position: relative; }

.daterangepicker .daterangepicker_input i {
  position: absolute;
  left: 8px;
  top: 8px; }

.daterangepicker.rtl .input-mini {
  padding-right: 28px;
  padding-left: 6px; }

.daterangepicker.rtl .daterangepicker_input i {
  left: auto;
  right: 8px; }

.daterangepicker .calendar-time {
  text-align: center;
  margin: 5px auto;
  line-height: 30px;
  position: relative;
  padding-left: 28px; }

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed; }

.ranges {
  font-size: 11px;
  float: none;
  margin: 4px;
  text-align: left; }

.ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%; }

.ranges li {
  font-size: 13px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  cursor: pointer; }

.ranges li:hover {
  background-color: #08c;
  border: 1px solid #08c;
  color: #fff; }

.ranges li.active {
  background-color: #08c;
  border: 1px solid #08c;
  color: #fff; }

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }

  .daterangepicker .ranges ul {
    width: 160px; }

  .daterangepicker.single .ranges ul {
    width: 100%; }

  .daterangepicker.single .calendar.left {
    clear: none; }

  .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
    float: left; }

  .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
    float: right; }

  .daterangepicker.ltr {
    direction: ltr;
    text-align: left; }

  .daterangepicker.ltr .calendar.left {
    clear: left;
    margin-right: 0; }

  .daterangepicker.ltr .calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

  .daterangepicker.ltr .calendar.right {
    margin-left: 0; }

  .daterangepicker.ltr .calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .daterangepicker.ltr .left .daterangepicker_input {
    padding-right: 12px; }

  .daterangepicker.ltr .calendar.left .calendar-table {
    padding-right: 12px; }

  .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
    float: left; }

  .daterangepicker.rtl {
    direction: rtl;
    text-align: right; }

  .daterangepicker.rtl .calendar.left {
    clear: right;
    margin-left: 0; }

  .daterangepicker.rtl .calendar.left .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

  .daterangepicker.rtl .calendar.right {
    margin-right: 0; }

  .daterangepicker.rtl .calendar.right .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

  .daterangepicker.rtl .left .daterangepicker_input {
    padding-left: 12px; }

  .daterangepicker.rtl .calendar.left .calendar-table {
    padding-left: 12px; }

  .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
    text-align: right;
    float: right; } }
@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto; }

  .daterangepicker.ltr .ranges {
    float: left; }

  .daterangepicker.rtl .ranges {
    float: right; }

  .daterangepicker .calendar.left {
    clear: none !important; } }
.pa-page {
  display: none; }

.pull {
  float: left;
  width: 100%; }

.sorting li {
  margin-left: 0; }

#loader {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  height: 100%; }

#loader .inner {
  position: absolute;
  margin: auto;
  width: 27px;
  height: 30px;
  top: 0;
  left: 0;
  color: #fff;
  right: 0;
  bottom: 0;
  font-size: 26px; }

.box-head {
  float: left;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 5px; }

.cs-message a {
  display: inline !important;
  padding: 0 !important; }

.box-head .status {
  padding: 13px 6px;
  font-size: 25px; }

.box-head .label {
  float: left;
  padding: 15px 10px; }

.box-head button {
  margin-top: 7px; }

.box-head .label .sub-head span {
  float: left;
  width: 100%;
  color: black;
  font-size: 16px;
  margin-top: 2px;
  text-align: left; }

.box-head .label h3 {
  margin-top: 0 !important; }

.box-head .label h3 span {
  color: #e87d1e; }

.box-head .label h3, .box-head .label .sub-head {
  float: left;
  width: 100%; }

.cs-panel {
  margin-bottom: 0; }

.cs-panel {
  float: left;
  width: 100%; }

.cs-panel a a {
  padding-left: 0 !important;
  display: inline !important; }

.cs-panel a a:before {
  display: none !important; }

.cs-panel .panel {
  width: 100%;
  float: left; }

ul.banded-list .alert-warning {
  border-radius: 0;
  margin-bottom: 0;
  background: #fcf8e4 !important; }

ul.banded-list .alert-warning strong i {
  float: left;
  padding: 4px; }

.clinician-overview .data-holder + .data-holder, .clinician-list-header .data-holder + .data-holder {
  /*   min-height: 88px;*/ }

.data-holder.alert {
  border-radius: 0; }

.clinician-list-name {
  margin-bottom: 0px !important;
  margin-top: 0px !important; }

.clinician-overview .fa-spinner {
  text-align: center;
  width: 100%;
  margin-top: 54%; }

.list-unstyled li {
  list-style: none; }

.started-date-col {
  width: 107px;
  float: right;
  text-align: left; }

.started-date-col em, .started-date-col p {
  display: inline; }

.daterangepicker * {
  font-size: 14px; }

.daterangepicker .ranges li {
  list-style-type: none;
  margin-left: 0; }

.date-filter {
  width: 240px; }

.practice-dashboard-header .date {
  position: relative;
  float: right;
  margin-bottom: 3px; }

.practice-dashboard-header .date i {
  position: absolute;
  right: 10px;
  top: 10px; }

.clinician-data .date {
  position: relative;
  float: right;
  margin-bottom: 5px;
  margin-top: 5px; }

.clinician-data .info-text {
  margin-top: 7px;
  float: left; }

.clinician-data .date i {
  position: absolute;
  right: 10px;
  top: 10px; }

.practice-dashboard-header .box .info-text {
  width: 100%;
  float: right;
  font-size: 87%;
  text-align: right; }

@media (max-width: 1024px) {
  .practice-dashboard-header .date {
    float: left !important;
    margin-top: 10px; }

  .practice-dashboard-header .box .info-text {
    float: left;
    font-size: 87%;
    text-align: left; } }
/*Custom Tabs*/
/*.cs-tabs li.active a, .cs-tabs li.active a:focus {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 4px solid #0088aa !important;
    color: #0088aa;
}*/
.cs-tabs-content li {
  margin-left: 12px; }

.cs-tabs-content .fix-height {
  min-height: 120px;
  max-height: 300px;
  overflow: auto;
  z-index: 999999;
  position: relative;
  margin-bottom: 0; }

.run-report-modal .modal-body {
  padding: 15px 15px 0 15px; }

.run-report-modal .cs-alert {
  margin: 10px 0; }

.alert.alert-danger ul li {
  list-style: none; }

.cs-tabs li.cs-active {
  border-bottom: 4px solid #0088aa !important; }

.cs-tabs tab {
  cursor: pointer !important; }

.cs-tabs li a {
  color: #333;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 4px solid transparent !important; }

.inline-loader {
  height: 120px;
  display: table; }

.inline-loader .container {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.inline-loader .container i {
  font-size: 20px; }

.no-record {
  padding: 10px 0; }

.card h3, .card h2 {
  margin-top: 15px; }

.card .card-body {
  padding-bottom: 10px; }

/*	ul.banded-list li:nth-child(even){
    		background: #efefef;
    	}
    	ul.banded-list {
    		margin-bottom: 5px;
    	}
    	ul.banded-list li{
    		padding: 0 10px;
    		color: #717171;
    	}
    	ul.banded-list li .row{
		    border-bottom: 1px solid #cccccc85;
		    padding-bottom: 7px;
		    padding-top: 7px;
    	}
    	ul.banded-list .t-header{
    		background: #e0e0e0;
    		color: black;
    	}
    	ul.banded-list li.grey-bg{
    		color: black;
    	}*/
.grey-bg {
  background-color: #c5c5c5; }

.color-white {
  color: white; }

.nav li a.row {
  padding-left: 15px !important; }

.nav-sub .nav-item {
  margin-bottom: 3px; }

.nav-sub ul {
  background: white; }

.nav-sub ul li {
  background: #eceaea; }

.color-black {
  color: black; }

.clini-manag .sorting {
  padding: 20px 0 5px 0;
  float: left;
  width: 100%; }

.clini-manag .sorting .left {
  float: left; }

.clini-manag .sorting .show {
  float: right; }

.clini-manag .sorting .show strong {
  margin-right: 19px; }

.clini-manag .sorting h2 {
  margin: 0; }

.clini-manag .sorting select {
  padding: 7px; }

.clini-manag .clinicians .list {
  background-color: #e3f0f9;
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.clini-manag .clinicians .list .status {
  width: 3em;
  min-width: 45px;
  float: left;
  text-align: center;
  padding: 15px 0;
  border: 2px solid #e7e7e3; }

.clini-manag .clinicians .list .status.done {
  color: #fff;
  background-color: #83d07f; }

.clini-manag .clinicians .list .status.loading {
  background-color: #04a5d9;
  color: #fff; }

.clini-manag .clinicians .list .status.error {
  background-color: #ee7e90;
  color: #fff; }

.clini-manag .clinicians .list .status i {
  font-size: 30px; }

.clini-manag .clinicians .list .name {
  float: left;
  width: 90%;
  padding: 10px; }

.clini-manag .clinicians .list .name h2 {
  font-weight: 600;
  margin: 0; }

.clini-manag .clinicians .list .name h4 {
  font-weight: 600;
  margin: 0; }

.clini-manag .clinicians .list .name .code {
  color: #333; }

.clini-manag .clinicians .list .left {
  float: left; }

.clini-manag .clinicians .list .remove {
  margin: 7px 0;
  float: right;
  min-width: 120px; }

.clini-manag .clinicians .accordion {
  float: left;
  width: 100%;
  margin-bottom: 0;
  border: 2px solid #e7e7e3;
  position: relative; }

.clini-manag .clinicians .accordion .icon {
  position: absolute;
  width: 3em;
  text-align: center;
  z-index: 999; }

.clini-manag .clinicians .accordion .icon i {
  padding: 7px 10px;
  color: #333;
  font-size: 20px; }

.clini-manag .clinicians .accordion ul {
  background-color: #e7e7e3;
  float: left;
  width: 100%;
  margin-bottom: 0;
  min-height: 33px; }

.clinician-data .banded-list {
  border-bottom: 2px solid #bbb; }

.clini-manag .clinicians .accordion ul li {
  margin-left: 0 !important;
  list-style: none;
  position: relative;
  padding: 5px 0 5px 40px;
  float: left;
  width: 100%; }

.clini-manag .clinicians .accordion ul li a {
  color: black; }

.clini-manag .clinicians .accordion ul li.warning {
  background-color: #ffbf4f; }

.clini-manag .clinicians .accordion ul li.error {
  color: #0f0f0f;
  background-color: #ee7e90; }

.clini-manag .clinicians .accordion ul li.loading {
  background-color: #04a5d9;
  color: #fff; }

.clini-manag .clinicians .accordion ul li.success {
  background-color: #e7e7e3;
  color: #0f0f0f; }

.clini-manag .clinicians .accordion ul li i {
  padding: 0 10px 0 0px; }

.clini-manag .brown-btn, .pract-manag .brown-btn {
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #747474;
  background: -moz-linear-gradient(top, #747474 0%, #575757 100%);
  background: -webkit-linear-gradient(top, #747474 0%, #575757 100%);
  background: linear-gradient(to bottom, #747474 0%, #575757 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#575757',GradientType=0 ); }

/*Transcript section*/
.popover {
  max-width: 450px; }

.green-bg {
  background-color: #14b057; }

.purple-bg {
  background-color: #7d5891; }

.pink-bg {
  background-color: #b84299; }

.blue-bg {
  background-color: #198dae; }

.grey-bg {
  background: #b3b3b3; }

.white-co {
  color: #fff; }

.divided-content a {
  margin-right: 10px; }

.cs-records {
  float: left;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f6f6f6;
  margin: 0px 0px 20px 0px;
  background: #f6f6f6; }

.cs-table {
  width: 100%; }

.cs-table th {
  background: #198dae;
  border: 0px;
  font-size: 14px; }

.cs-table th a {
  color: #fff; }

.cs-table th.sort {
  background-color: #004176;
  border: 0px; }

.cs-table th {
  color: #656565;
  text-align: left;
  background: #dedede;
  font-size: 13px;
  border-collapse: collapse;
  line-height: initial; }

.cs-table tr:nth-child(even) {
  background: #f6f6f6; }

.cs-table tr {
  background: white; }

.cs-table th, .cs-table td {
  padding: 10px; }

.cs-table .title {
  padding-bottom: 10px; }

.w70 {
  width: 70px; }

.sort-pannel {
  margin-bottom: 5px;
  margin-left: 5px;
  vertical-align: middle; }

.sort-pannel select {
  margin-left: 5px;
  vertical-align: middle; }

.sort-pannel .icon-pdf:before {
  font-family: FontAwesome;
  content: "\f1c1";
  font-size: 20px;
  margin-right: 4px; }

.pink-bg, .pink-bg:hover {
  background: #e91e63 !important; }

.card h3, .card h2 {
  margin-top: 15px; }

.card .card-body {
  padding-bottom: 10px; }

ul.banded-list li:nth-child(even) {
  background: #efefef; }

ul.banded-list {
  margin-bottom: 5px; }

ul.banded-list li {
  padding: 0 10px;
  color: #717171; }

ul.banded-list li .row {
  border-bottom: 1px solid #cccccc85;
  padding-bottom: 7px;
  padding-top: 7px; }

ul.banded-list .t-header {
  background: #e0e0e0;
  color: black; }

ul.banded-list li.grey-bg {
  color: black; }

.grey-bg {
  background-color: #c5c5c5; }

.blue-bg, .blue-bg:hover {
  background: #2196f3 !important; }

.color-white {
  color: white; }

.color-black {
  color: black; }

.wauto {
  width: auto; }

.pull {
  float: left;
  width: 100%; }

.popover .close {
  position: absolute;
  top: 6px;
  right: 10px; }

.popover-title {
  padding-right: 30px; }

/*# sourceMappingURL=cqc-techcurl.css.map */
