/**
 * Primary - Dark (Headers)
 *
 * @color 
 * @section QII Brand
 */
/**
 * Primary - Light (Highlights)
 *
 * @color 
 * @section QII Brand
 */
/**
* ACC Blue
*
* @color 
* @section QII Brand
*/
/**
* Warm Grey
*
* @color 
* @section QII Brand
*/
/**
* Warm  Grey - Light
*
* @color 
* @section QII Alternate Colors
*/
/**
* Warm  Grey - Dark
*
* @color 
* @section QII Alternate Colors
*/
/**
* Off White
*
* @color 
* @section QII Alternate Colors
*/
/**
* Off Black
*
* @color 
* @section QII Alternate Colors
*/
/**
* Soft Blue
*
* @color 
* @section QII Alternate Colors
*/
/**
* Soft Grey
*
* @color 
* @section QII Alternate Colors
*/
/**
 * Error Red
 *
 * @color 
 * @section States      
 */
/**
* Scrub Teal 
*
* @color 
* @section Scrub Teal	
*/
/**
* Scrub  Teal - Light
*
* @color 
* @section Scrub Teal		
*/
/**
 * ScrubTeal - Dark
 *
 * @color
 * @section Scrub Teal	 	
 */
/**
 * ScrubTeal & Primary Light 30%
 *
 * @color
 * @section Blends      
 */
/**
*  Primary Light & ScrubTeal 30%
*
* @color
* @section Blends      
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
.icon-before:before {
  display: inline-block;
  margin-right: 0.5em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  width: 1.28571429em;
  text-align: center;
}

.icon-after:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  width: 1.28571429em;
  text-align: center;
}

/**
 * @icon lock
 * @section Fonts & Branding
 * @markup
 *  <i class="fa fa-lock"></i>
 */
/**
 * @icon search
 * @section Fonts & Branding
 * @markup
 *  <i class="fa fa-search"></i>
 */
/**
 * @icon pdf
 * @section Fonts & Branding
 * @markup
 *  <i class="fa fa-file-pdf-o"></i>
 */
/**
* @icon external link
* @section Fonts & Branding
* @markup
*  <i class="fa fa-external-link-square"></i>
*/
/**
 * @icon file
 * @section Fonts & Branding
 * @markup
 *  <i class="fa fa-file"></i>
 */
/**
 * @icon chevron
 * @section Fonts & Branding
 * @markup
 *  <i class="fa fa-chevron-right"></i>
 */
/**
 * @icon Navigate
 * @section Fonts & Branding
 * @markup
 *  <i class="fa fa-arrow-circle-right"></i>
 */
body {
  background: white !important;
}

.SG-row {
  position: relative;
}

.SG-row .SG-row {
  margin: 0;
}

.SG-table .SG-table__cell {
  margin: 0;
}

.SG-layout {
  max-width: 1150px;
}

.SG-header {
  padding: 0;
  margin-bottom: 2rem;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
}
.SG-header .SG-logo {
  margin-top: 0;
  padding: 11px 16px 0px;
  display: block;
  width: 100%;
  color: white;
  background-color: #004176;
}
.SG-header .SG-nav {
  background: white;
  background-color: grey(5);
  position: relative;
  margin: 0;
  max-width: 100%;
  display: flex;
  clear: both;
  flex-direction: column;
  width: 100%;
  float: left;
}
.SG-header .SG-nav .SG-nav__item {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  width: 100%;
  padding: 12px 10px 14px;
  margin: 0;
}
.SG-header .SG-nav .SG-nav__item:hover {
  border-top: #9b9b9b 2px solid;
  border-bottom: #9b9b9b 2px solid;
}
.SG-header .SG-nav .SG-nav__item.SG-nav__item--active {
  border-bottom: 3px solid #a0518e;
  border-top: 1px solid #a0518e;
  background-color: #fcecf8;
}
.SG-header .SG-nav li {
  list-style: none;
  flex: 0 1 auto;
  position: relative;
  min-width: 0;
  margin: 0;
}
@media only screen and (min-width : 768px) {
  .SG-header .SG-nav {
    flex-direction: row;
    width: 100%;
    flex-direction: row;
    width: 100%;
    max-width: 1150px;
    float: none;
  }
  .SG-header .SG-nav li {
    list-style: none;
    flex: 0 1 auto;
    position: relative;
    min-width: 0;
  }
  .SG-header .SG-nav .SG-nav__item {
    width: auto;
    padding: 22px 10px 24px;
  }
}
@media only screen and (min-width : 768px) {
  .SG-header .SG-nav .SG-nav__item {
    padding: 22px 40px 24px;
  }
}
.SG-header .SG-nav-icons {
  padding-right: 25px;
  width: auto;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.SG-header .SG-nav-icons li {
  margin: 0.5rem;
}

.SG-component {
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.SG-component + .SG-component {
  margin-top: 20px;
  border-top: 1px dotted #FFC425;
}
.SG-component + .SG-row {
  border-top: 15px solid #eceaea;
}
.SG-component .SG-component__preview {
  margin-top: 20px;
}
.SG-component .SG-component__title {
  font-size: 36px;
}

.SG-table .SG-table__cell {
  padding: 5px 0;
  margin: 5px 0;
  color: #2f2f2f;
}
.SG-table .SG-table__head {
  color: #6f6b6f;
  font-weight: 900;
  border-bottom: 1px solid #05aee5;
}

.style-guide-override.tooltip {
  display: block;
  position: relative;
  opacity: 1;
  width: 200px;
}

.SG-toc > ul > li, .SG-toc > ul > li ul {
  line-height: 1.5;
}

.container.example {
  border: 1px solid #563d7c;
}

.example {
  border: 1px solid #ccc;
}

.example .col {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.container-fluid > h2 {
  margin: 2rem 0;
  background: #e2e2e2;
  padding: 0.5rem;
}

.col-sm-6 > h3 {
  margin: 2em 0 1em 0;
  /*
  border-bottom:1px solid #ccc;
  */
  padding-bottom: 0.5em;
}

.container-fluid {
  padding: 2em;
}

.demo-border {
  border: 5px solid #563d7c;
  display: inline-block;
  height: 100px;
  width: 100px;
  background: #e2e2e2;
  padding: 1rem;
  font-size: 12px;
  margin: 0.5rem;
}

/*# sourceMappingURL=assets/css/styleguide.css.map */
