/**
 * Address blocks are well formated microformat to optimum usage in browsers.
 * @structure address.vcard
 * @section Content Blocks
 *
 * @markup
 *  <address class="vcard">
 *     <!-- http://microformats.org/wiki/hcard -->
 *     <a class="photo" href="http://www.acc.org" target="_blank">
 *         <img alt="" src="assets/images/acc-logo-footer.png">
 *     </a>
 *     <a class="fn org url" href="http://www.acc.org" target="_blank">American College of Cardiology</a>
 *     <span class="adr">
 *         <span class="street-address">2400 N St. NW</span>
 *         <span class="locality">Washington</span>,
 *          <span class="country-name"><abbr title="District of Colombia">DC</abbr></span> 
 *          <span class="postal-code hidden"></span>
 *     </span>
 *     <!-- end .adr -->
 *     <div class="contact">
 *     <a tel="tel:1-800-257-4737" class="tel">(800) 257-4737</a>
 *     <a href="mailto:cvquality@acc.org" class="email">cvquality@acc.org</a>
 *     </div>
 *  </address>
*/

address.vcard {
    @include font(normal);
    font-size: ms(0);
    color: $off-black;
    margin-bottom:0;
   a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        width:100%;
    }
     abbr[title] {
        text-decoration: none;
        border: 0;
    }
    .adr{display:block;
        span{display:inline-block;}
        span.street-address{width:100%;}

    }
    .photo{
        display: inline-block;
        float: left;
        width:48px;
        height:48px;
        margin:6px 12px 6px 0;
        @include bp(md){
            width:72px;
            height:72px;
        }
        @include bp(lg){
           display: block;
           text-align: center;
           margin:1rem auto .5rem;
           float: none;

        }
    }
    .org{ 
        @include font(bold);
        font-size:ms(1);
        line-height: $tight;
        display: inline-block;
        float:right;
        width:calc(100% - 60px);
         @include bp(md){
           width:calc(100% - 84px);
        }
        @include bp(lg){
           display: none;
        }
    }
    .adr{
         display: inline-block;
        float:right;
        width:calc(100% - 60px);
         @include bp(md){
           width:calc(100% - 84px);
        }
        @include bp(lg){
            @include font(bold);
           width:100%;
           float:none;
           display: block;
           text-align:center;
           font-size: ms(1);
           line-height: $tight;

        }
       
    }
    .contact{
         &:before{
           content: "";
           display: table;
           clear:both;
        }
    }
    .email,.tel{
        @include  button-variant($off-black,$off-white,$warm-grey-dark);
        @include button-size($padding-xs-horizontal,$padding-xs-vertical, ms(-1), 1, .2rem); 
        border-width:1px;
        border-style:solid;
        width:48%;
        + .email,+ .tel{margin-left:2%;}
        text-align: center;
        @include bp(md){
            border:0 none transparent;
            background:none transparent;
        }
        // transition the buttons into links when on large screen
        @include bp(lg){
           display: inline-block;
           width:100%;
           line-height: $tight;
           text-align: center;
           margin:0;
           padding:0;
           border:0;
           font-size: ms(0);
           color: $off-black;
           text-decoration: none;
           &, + .email,+ .tel{margin:0;}
           &:hover,&:focus,&:active{background:none; color:$off-black; text-decoration:underline;}


        }
    }
}
