/**
 * Advertisement blocks are for add placement on pages..
 * @molecule Advertisement
 * @section Content Blocks
 * @modifiers
 *  .mobile swaps the default visablity from hiding on small and showing on medium to showing on small and hidding on medium. 
 *  .skyscraper added to the container will center the ad within the container.
 * @flag contained
 *
 * @markup
 *   <div class="ad-container skyscraper">
 *       <p>Advertisement</p>
 *       <div class="ad">
 *           <div class="ad-inner">
 *               <a><img src="@{image:160:600}" alt="..."></a>
 *           </div>
 *       </div>
 *   </div>
*/



.ad-container {
    display: none;
    @include bp(md){
        display: inline-block;
    }
    &.mobile{
        display: inline-block;
        @include bp(md){
            display: none;
        }
    }
    border:5px solid $off-white;
    background-color: $off-white;
    margin: 0 auto;
    text-align: center;
    &.skyscraper{ 
        width:164px;
         @include bp(md){ display: block; }
    }
    p {
        clear: both;
        font-size: ms(-3);
        line-height: $crunched;
        padding-bottom:4px;
        color: $warm-grey;
        text-transform: uppercase;
    }
    .ad{
        border:2px solid mix($warm-grey-light, $off-white);
        .ad-inner{}

    }
}

