/**
 * Boxes(".box") are a simple decorator that has internal padding, a colored background, and fills its parent container. 
 * Boxes are a simpler version of ".cards" when the structured DOM is either unnecessary or would conflict with the internal content.
 *
 * @molecule box
 * @flag contained
 * @modifiers
 *  .alt    changes background to grey
 *  .alt.blue changes background to blue
 * @section Box > Box
 * @markup
 *   <div class="box">
 *      <h1>H1 Tag</h1>
 *      <p>@{lipsum:20:words}</p>
 *   </div>
*/

.box {
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    border: 1px solid $soft-grey;
    .card-header{margin-left:-.75rem; margin-right:-.75rem;}

    h1, h2, h3, h4 {
        &:first-child{margin-top:.5rem;}
        font-weight: bold;
        color: $primary-color-dark;
    }

    + .box {
        margin-top: .5rem;
    }
}
/**
* The box is by default white add the ".alt" class to make it grey and remove the boarders.
*
* @molecule Box Alt
* @section Box > Box
* @markup
*  <div class="box alt">
*     <h3>Past Box</h3>
*     <p>@{lipsum:2:paragraphs}</p>     
*     <div class="row">
*         <div class="col-sm-9 col-lg-6 p-r-0">
*             <div class="form-group">
*                 <div class="input-group">
*                     <select name="" id="" class="form-control">
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                     </select>
*         <span class="input-group-btn">
*           <button type="submit" class="btn btn-primary expanded">Go</button>      
*         </span>
*                 </div>
*             </div>
*         </div>
*         <div class="col-sm-4 col-lg-5 pull-right">
*             <button type="submit" class="btn btn-primary pull-right">Comparison Report</button>
*         </div>
*     </div>
*  </div>
*/
.box.alt{
    background-color: $soft-grey;
    &.blue{background-color:$soft-blue;}
}
/**
* The Score Box Generic is currently used on the Assessments Page. These repeated boxes are used to show the score with each section of the assessment.
*
* @molecule Score Box Generic
* @section Box > Score Box
* @markup
*  <div class="box score">
*       <h3>@{lipsum:4:words}</h3>
*       <div class="results-points">
*           <span class="points-possible"><span class="points-breakdown">(0 of 96 possible points)</span></span>
*           <span class="points-total">0</span>
*       </div>
*  </div>
*/
.box.score{
    background-color: $soft-grey;
    h1, h2, h3, h4 {
        &:first-child{margin-top:.5rem;}
        font-weight: bold;
        color: $primary-color-dark;
    }
}




/**
* The Overall Score on the assessments page is the wrap up of the score of all the sections
*
* @molecule overall-score-box
* @section Box > Score Box
* @markup
*  <div class="overall-score box">
*      <span class="your-score-label">Your Score</span>
*      <div  class="results-points">
*          <span class="points-possible">
*                 <span class="title">Overall Score</span> <span class="points-breakdown">(0 of 96 possible points)</span>
*          </span>
*          <span class="points-total">
*              0%
*          </span>
*      </div>
*  </div>
*/
.overall-score.box {
    background-color: white;
    border:0px none transparent;
}

.your-score-label {
    margin-bottom: 1.5rem;
    display: block;
    font-weight: bold;
    line-height: $normal;
    text-align: right;
    text-transform: uppercase;
    color: $primary-color-dark;
    border-bottom: solid 2px $warm-grey-dark;
   
    &:before {
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        right: .75rem;
        top: 1.5em;
        content: '';
        border-left: .75rem solid transparent;
        border-right: .75rem solid transparent;
        border-top: .9rem solid $warm-grey-dark;
    }
}

.results-points {
    font-size: ms(1);
    margin-bottom: 1rem;
    position: relative;
    color: $off-black;
    z-index:1;
    position:relative;
    display: flex;
    flex-direction: row;
    &:after{
        border-bottom: dashed 1px $off-black;
        content:"";
        width: 100%;
        z-index: -1;
        position:absolute;
        left:0;
        right:0;
        bottom:.625em;
         @media print { width: 90%; right:auto;}
    }
}

.points-total {
    flex: 0 0 3rem;
    text-align: center;
    color: $off-black;
    font-size: ms(2);
    font-weight: bold;
    padding: .25rem .125rem;
    .score &{    
        background-color: $soft-grey;
    }
    .overall-score & {
        background-color: $primary-color-dark;
        padding: .75rem .5rem;
        color: white;
        font-weight: bold;
    }
}

.points-possible {
    flex: 1 1 auto;
    padding:.5em .25em .5em 0;
    z-index:3;
    .points-breakdown {
        background-color:white;
        padding-right:.25em;
        .score &{background-color: $soft-grey;}
    }
    .overall-score & {}

    .title{
        font-size: ms(7);
        @include font-display("bold");
        color:$primary-color-dark;
        margin:0;
        line-height: 1;
        vertical-align:bottom;
        background-color: white;
        display:inline-block;
        .score &{background-color:$soft-grey;}
        .overall-score &{}
    }
}

 /**
 * "Wizard Navigation"  This is a combination of .box, .progress-bar and .button to create a navigation that goes between a collection of pages that need to be sequentially stepped through.
 *
 * @structure Wizard Navigation 
 * @section Advanced Cards & Boxes > Wizard Navigation 
 * @markup
 *  <div class="box alt">
 *      <div class="row">
 *          <div class="col-sm-5 col-md-4 col-lg-2"><strong class="pull-right">Completed:</strong></div>
 *          <div class="col-sm-6 col-md-7 col-lg-9">@{include:.progress-bar}</div>
 *      </div>
  *     <hr class="m-t-0"/>
 *      <div class="row">
 *          <div class="col-sm-6"><a href="" class="btn pull-left btn-secondary"><i class="fa fa-arrow-left"></i> Previous</a></div>
 *          <div class="col-sm-6"><a href="" class="btn pull-right btn-primary">Next <i class="fa fa-arrow-right"></i></a></div>
 *      </div>
 *  </div>
 *
 */
.wizard.box{}

/**
* Score Boxes can have an accordion nested inside themselves.  Accordions simplifies in design when it is with a box so it is cleaner. 
*
* @structure Score Box Accordion
* @section Advanced Cards & Boxes > Score Box
* @markup
*  <div class="box score">
*       <h3>@{lipsum:4:words}</h3>
*       <div class="results-points">
*           <span class="points-possible"><span class="points-breakdown">(0 of 96 possible points)</span></span>
*           <span class="points-total">0</span>
*       </div>
*       @{include:.accordion.basic}
*  </div>
*/
.box.score.accordion{}
.box,.card{
    .accordion .panel-heading{
        border:0 none transparent;
        background-color:transparent;
        .panel-title{margin-top:0;}
    }
}
