/**
 * Box is the basic unit inside of Assesments. !!! Todo move box to card !!! 
 *
 * @molecule box
 * @flag contained
 * @deprecated
 * @section Assessments
 * @markup
 *   <div class="box">
 *   	<h1>H1 Tag<h1>
 *		<h2>@{lipsum:4:words}</h2>
 *		<h3>@{lipsum:4:words}</h3>
 *		<h4>@{lipsum:4:words}</h4>
 *   </div>
*/
.assessment {}

.box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    background-color: $soft-grey;

    h1, h2, h3, h4 {
        font-weight: bold;
        color: $dark-orange;
    }
}
/**
* The assessment score is broken into sections
*
* @molecule Score Box Generic
* @flag contained
* @section Assessments > Score
* @markup
*  <div class="box">
*       <h3>@{lipsum:4:words}</h3>
*       <div class="results-points">
*           <span class="points-possible">(18 possible points)</span>
*           <span class="points-total">0</span>
*       </div>
*  </div>
*/
.box.score{}

/**
* The Overall score of the assessments is the wrap of the sections with in the entire assesment
*
* @molecule overall-score-box
* @section Assessments > Score
* @markup
*  <div class="overall-score box">
*      <span class="your-score-label">Your Score</span>
*      <div  class="results-points">
*          <span class="points-possible">
*                 <h1 class="">Overall Score</h1> (0 of 96 possible points)
*          </span>
*          <span class="points-total">
*              0%
*          </span>
*      </div>
*  </div>
*/
.overall-score.box {
    background: white;
}

.your-score-label {
    margin-bottom: 1.5rem;
    display: block;
    font-weight: bold;
    line-height: $normal;
    text-align: right;
    text-transform: uppercase;
    color: $dark-orange;
    border-bottom: solid 2px $warm-grey-dark;

    &:before {
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        right: .75rem;
        top: 1.5em;
        content: '';
        border-left: .75rem solid transparent;
        border-right: .75rem solid transparent;
        border-top: .9rem solid $warm-grey-dark;
    }
}

.results-points {
    font-size: ms(1);
    margin-bottom: 1rem;
    position: relative;
    color: $off-black;
    border-bottom: dashed 1px $off-black;
    z-index:1;
    position:relative;
}

.points-total {
    color: $off-black;
    font-size: ms(2);
    background: $soft-grey;
    font-weight: normal;
	float:right;
	z-index:2;

        padding: .25rem .125rem;
    .overall-score & {
        background: $dark-orange;
        padding: .75rem .5rem;
        color: white;
        font-weight: bold;
    }
}

.points-possible {
	vertical-align:bottom;
	padding:.5em .25em .5em 0;
	z-index:3;
    background: $soft-grey;
	h1{
    line-height: .75;
	vertical-align:bottom;
		background-color:$soft-grey; 
		display:inline-block;}
    .overall-score & {
    	h1{background-color:white;}
        background: white;
    }
}

/**
* The assessment score with expanding sections
*
* @molecule Score Box Accordian
* @flag contained
* @section Assessments > Score
* @markup
*  <div class="box">
*       <h3>@{lipsum:4:words}</h3>
*       <div class="results-points">
*           <span class="points-possible">(18 possible points)</span>
*           <span class="points-total">0</span>
*       </div>
*       <div class="panel-group accordion">
*    <div class="panel" id="accordion" role="tablist" aria-multiselectable="true">
*     <div class="" role="tab" id="headingOne">
*       <h4 class="panel-title">
*         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
*           Collapsible Group Item #1
*         </a>
*       </h4>
*     </div>
*     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
*       <div class="panel-body">
*       <ul class="no-bullets">    
*         <li style="page-break-inside: avoid">
*             <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*         </li>
*         <li style="page-break-inside: avoid">
*             <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*         </li>
*         <li style="page-break-inside: avoid">
*             <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*         </li>
*       </ul>
*       </div>
*     </div>
*    </div>
*   </div>
*  </div>
*/
.box.score.collapse{}