/**
 * ".box"  Boxes are a simple decorator that has internal padding, a colored background, and fills its parent container. Boxes are a simpler version of .cards when the structured DOM is either unnessary or would conflict with the internal content.
 *
 * @molecule box
 * @flag contained
 * @deprecated
 * @section Assessments
 * @markup
 *   <div class="box">
 *      <h1>H1 Tag<h1>
 *      <h2>@{lipsum:4:words}</h2>
 *      <h3>@{lipsum:4:words}</h3>
 *      <h4>@{lipsum:4:words}</h4>
 *   </div>
*/

.box {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    border:1px solid $off-white;
    .card-header{margin-left:-.75rem; margin-right:-.75rem;}

    h1, h2, h3, h4 {
        &:first-child{margin-top:.5rem;}
        font-weight: bold;
        color: $orange-dark;
    }
}
/**
* The Score Box Generic is currently used on the Assessments Page. These repeated boxes are used to show the score with each section of the assessment.
*
* @molecule Score Box Generic
* @section Assessments > Score
* @markup
*  <div class="box score">
*       <h3>@{lipsum:4:words}</h3>
*       <div class="results-points">
*           <span class="points-possible">(18 possible points)</span>
*           <span class="points-total">0</span>
*       </div>
*  </div>
*/
.box.score,.box.alt{
    background-color: $soft-grey;
}


/**
* Score Boxes can have Accodian's nested inside themselves.  The Accordion simplifies when it is with a box so it is cleaner. 
*
* @molecule Score Box Accordion
* @section Assessments > Box
* @markup
*  <div class="box score">
*       <h3>@{lipsum:4:words}</h3>
*       <div class="results-points">
*           <span class="points-possible">(18 possible points)</span>
*           <span class="points-total">0</span>
*       </div>
*       @{include:.accordion.basic}
*  </div>
*/
.box.score.accordion{}
.box,.card{
    .accordion .panel-heading{
        border:0 none transparent;
        background-color:transparent;
        .panel-title{margin-top:0;}
    }
}

/**
* The assessment box is defaultly white add the alt class to make it grey.
*
* @molecule Box Alt
* @section Assessments > Box
* @markup
*  <div class="box alt">
*     <h3>Past Assessments</h3>
*     <p>@{lipsum:2:paragraphs}</p>     
*     <div class="row">
*         <div class="col-sm-9 col-lg-6 p-r-0">
*             <div class="form-group">
*                 <div class="input-group">
*                     <select name="" id="" class="form-control">
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                     </select>
*         <span class="input-group-btn">
*           <button type="submit" class="btn btn-primary expanded">Go</button>      
*         </span>
*                 </div>
*             </div>
*         </div>
*         <div class="col-sm-4 col-lg-5 pull-right">
*             <button type="submit" class="btn btn-primary pull-right">Comparison Report</button>
*         </div>
*     </div>
*  </div>
*/
.box.alt{
}

/**
* The Overall score of the assessments is the wrap of the sections with in the entire assesment
*
* @molecule overall-score-box
* @section Assessments > Score
* @markup
*  <div class="overall-score box">
*      <span class="your-score-label">Your Score</span>
*      <div  class="results-points">
*          <span class="points-possible">
*                 <h1 class="">Overall Score</h1> (0 of 96 possible points)
*          </span>
*          <span class="points-total">
*              0%
*          </span>
*      </div>
*  </div>
*/
.overall-score.box {
    background-color: white;
}

.your-score-label {
    margin-bottom: 1.5rem;
    display: block;
    font-weight: bold;
    line-height: $normal;
    text-align: right;
    text-transform: uppercase;
    color: $orange-dark;
    border-bottom: solid 2px $warm-grey-dark;

    &:before {
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        right: .75rem;
        top: 1.5em;
        content: '';
        border-left: .75rem solid transparent;
        border-right: .75rem solid transparent;
        border-top: .9rem solid $warm-grey-dark;
    }
}

.results-points {
    font-size: ms(1);
    margin-bottom: 1rem;
    position: relative;
    color: $off-black;
    border-bottom: dashed 1px $off-black;
    z-index:1;
    position:relative;
}

.points-total {
    color: $off-black;
    font-size: ms(2);
    font-weight: normal;
    float:right;
    z-index:2;
    padding: .25rem .125rem;
    background-color:white;
    .score &{    
        background-color: $soft-grey;
    }
    .overall-score & {
        background-color: $orange-dark;
        padding: .75rem .5rem;
        color: white;
        font-weight: bold;
    }
}

.points-possible {
    vertical-align:bottom;
    padding:.5em .25em .5em 0;
    z-index:3;
    background-color:white;
    .score &{background-color: $soft-grey;}
    .overall-score & {}

    h1,h2,h3,h4{
        margin:0;
        line-height: .75;
        vertical-align:bottom;
        background-color: white;
        display:inline-block;
        .score &{background-color:$soft-grey;}
        .overall-score &{}
    }
}

 /**
 * "Wizard Navigation"  This is a combination of .box, .progress-bar and .button to create a navigation that goes between a collection of pages that need to be sequentially stepped through.
 *
 * @structure Wizard Navigation 
 * @section Nav > Page 
 * @markup
 *  <div class="box alt">
 *      <div class="row">
 *          <div class="col-sm-5 col-md-4 col-lg-2"><strong class="pull-right">Completed:</strong></div>
 *          <div class="col-sm-6 col-md-7 col-lg-9">@{include:.progress-bar}</div>
 *      </div>
  *     <hr class="m-t-0"/>
 *      <div class="row">
 *          <div class="col-sm-6"><a href="" class="btn pull-left btn-secondary"><i class="fa fa-arrow-left"></i> Previous</a></div>
 *          <div class="col-sm-6"><a href="" class="btn pull-right btn-primary">Next <i class="fa fa-arrow-right"></i></a></div>
 *      </div>
 *  </div>
 *
 */
.wizard.box{}