/**
 * buttons are highly flexable and can be decorated by the modifiers to change size and color
 *
 * @atom .btn\.button\button
 * @section Buttons & Links
 * @markup
 *  <div>
 *		<button type="button" class="btn ">Undecorated</button>
 *		<button type="button" class="btn btn-default">Default</button>
 *		<button type="button" class="btn btn-primary">Primary</button>
 *		<button type="button" class="btn btn-secondary">Secondary</button>
 *		<button type="button" class="btn btn-success">Success</button>
 *		<button type="button" class="btn btn-info">Info</button>
 *		<button type="button" class="btn btn-warning">Warning</button>
 *		<button type="button" class="btn btn-danger">Danger</button>
 *		<button type="button" class="btn btn-link">Link</button>
 *	</div>
 */
.btn { 
	border:0 none transparent;
}
.btn-block{display:inline-block;}
.btn.btn-link{
	background:none transparent;
	border:none transparent 0px;
}
.btn.btn-outline-primary,.btn.btn-outline-secondary{
	background:none transparent;
}
.btn.btn-outline-primary{
	border-color:$scrubteal;
	color:$scrubteal;
	background:none;
	&:visited,&:hover{
		border-color:$scrubteal-dark;
		color:$scrubteal-dark;
		background-color: rgba(255,255,255,.2);
	}
}
.btn.btn-outline-secondary{
	border-color:$warm-grey-dark;
	color:$warm-grey-dark;
	background:none;
	&:visited,&:hover{
		border-color:$off-black;
		color:$off-black;
		background-color: rgba(255,255,255,.2);
	}
}

.btn.btn-secondary,.btn.btn-default{
	@include warmgrey-gradient;
	&:visited, &{color:$off-black;}

	&:hover,&:active,&:focus{@include warmgrey-gradient-reverse;color:#000;}
}

.btn.btn-primary {
	@include teal-gradient;
	&:visited{color:$off-white;}
	&:hover{@include teal-gradient-reverse;}
}

.button{
	@extend .btn;
}

