.card {
	border-radius:0;
	h1,h2,h3,h4,h5,h6{color:$off-black;}

}
/**
 * Notice cards are stylized cards with a soft blue background to stand out from surrounding text
 *
 * @molecule Notice 
 * @section Card 
 * @modifiers
 *  .position-right-[size] floats the card to the right so text will wrap around the left when the veiw port is above the size.
 *  .position-right-lg the float appears large up.
 *  .position-right-md the float appears medium up.
 *  .position-right-sm the float appears small up.
 *  .position-left-[size] floats the card to the left so text will wrap around the right when the veiw port is above the size.
 * @markup
 *  <div><div class="card notice position-right-md"><div class="card-body"><h1>Notice Block</h1><p>@{lipsum:10:words}</p><a class="btn btn-secondary btn-block">Action</a></div></div><div>@{lipsum:3:paragraphs}</div></div>
 *
 */
.card.notice{
	 background-color: $soft-blue;
	 border-color:$soft-blue;
}
.card{
	float:none;
	width:100%;
	width:100%;
	transition:width 1s ease-out;
	-webkit-transition:width 1s ease-out;
	-moz-transition:width 1s ease-out;

	&.position-right{
		float: right; clear:right; width:45%;margin-left:5%;margin-bottom:1em;
	}
	&.position-left{
		float: left; clear:left; width:45%;margin-right:5%;margin-bottom:1em;
	}
	@include bp(sm){
		&.position-right,&.position-right-sm{float: right; clear:right; width:40%; margin-left:1.5em;margin-bottom:1em;}
		&.position-left,&.position-left-sm{float: left; clear:left; width:40%;margin-right:1.5em;margin-bottom:1em;}

	}
	@include bp(md){
		&.position-right,&.position-right-sm,&.position-right-md{float: right; clear:right; width:33%; margin-left:1.5em;margin-bottom:1em;}

		&.position-left,&.position-left-sm,&.position-left-md{float: left; clear:left; width:33%;margin-right:1.5em;margin-bottom:1em;}
	}
	@include bp(lg){
		&.position-right,&.position-right-sm,&.position-right-md,&.position-right-lg{float: right; clear:right; width:20%; margin-left:1.5em;margin-bottom:1em;}
		&.position-left,&.position-left-sm,&.position-left-md,&.position-left-lg{float: left; clear:left; width:20%;margin-right:1.5em;margin-bottom:1em;}
	}

	
}

.card.info{
	 background-color: $soft-grey;
}
/**
 * Events are containers for Event Data Type 
 *
 * @molecule Event 
 * @section Card 
 * @modifiers
 *  .compressed arranges the container to take up less room.
 * @markup
 *  <div class="card event"><H1 class="card-body">Event TBD</H1></div>
 *
 */	

.card.event{}

/**
 * Testemonials are containers for Testemonial Data Type 
 *
 * @molecule Testimonial 
 * @section Card 
 * @modifiers
 *  .horizontal - alignment of image to the right of the testimonial
 *  .veriticle - alignment of image above the testimonial
 * @markup
 *  <div class="row"><div class="col-sm-6"><div class="card testimonial">
 *    <img class="card-img-top" src="@{image:300:200}"/>
 *    <div class="card-body">
 *      <blockquote class="blockquote mb-0">
 *        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
 *        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
 *      </blockquote>
 *    </div>
 *  </div></div></div>
 *
 */

 .card.testimonial{
 	.blockquote p{
		&:before,&:after{
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: translate(0, 0);
			width: 1.28571429em;
			text-align: center;
		}
		&:before{
			margin-right: .5em;
			content:"\f10d";
		}
		&:after{
			margin-left: .5em;
			content:"\f10e";
		}
		+ footer{margin-top:-1em; text-align:right;}

 	}

 }