.card {
    float: none;
    width: 100%;
    margin: 0;
    display: block;
    padding-top: 1px;
    padding-bottom: 1px;
    transition: width 1s ease-out;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    border-color: $warm-grey;
    background-color: white;
    position: relative;
    margin-bottom: 1rem;
    .triangle:before {
        border-color: transparent transparent transparent $warm-grey;
    }

    .card-header {
        padding: 0 1rem;
        text-align: center;
        position: relative;

        &.triangle {
            padding-left: 1.5rem;
        }

        &.triangle:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: .5em 0 .5em .75em;
            position: absolute;
            left: 0;
        }
    }

    .card-body {
        padding: 0 1rem 1.25rem;
        text-align: center;
    }

    .card-action {
        padding: 0 2rem 1.25rem;
    }

    .card-body + .card-action {
        margin-top: -.75rem;
    }

    > .card {
        margin: 0 1rem 1rem;
        width: auto;
    }

    &.position-right {
        float: right;
        clear: right;
        width: 45%;
        margin-left: 5%;
        margin-bottom: 1em;
    }

    &.position-left {
        float: left;
        clear: left;
        width: 45%;
        margin-right: 5%;
        margin-bottom: 1em;
    }

    @include bp(sm) {
        &.position-right, &.position-right-sm {
            float: right;
            clear: right;
            width: 40%;
            margin-left: 1.5em;
            margin-bottom: 1em;
            min-width:200px;
        }

        &.position-left, &.position-left-sm {
            float: left;
            clear: left;
            width: 40%;
            margin-right: 1.5em;
            margin-bottom: 1em;
            min-width:200px;
        }
    }


    @include bp(md) {
        &.position-right, &.position-right-sm, &.position-right-md {
            float: right;
            clear: right;
            width: 35%;
            margin-left: 1.5em;
            margin-bottom: 1em;
            min-width:200px;
        }

        &.position-left, &.position-left-sm, &.position-left-md {
            float: left;
            clear: left;
            width: 35%;
            margin-right: 1.5em;
            margin-bottom: 1em;
            min-width:200px;
        }
    }


    @include bp(lg) {
        &.position-right, &.position-right-sm, &.position-right-md, &.position-right-lg {
            float: right;
            clear: right;
            width: 30%;
            margin-left: 1.5em;
            margin-bottom: 1em;
            min-width:200px;
        }

        &.position-left, &.position-left-sm, &.position-left-md, &.position-left-lg {
            float: left;
            clear: left;
            width: 30%;
            margin-right: 1.5em;
            margin-bottom: 1em;
            min-width:200px;
        }
    }
}

/**
 * Highlighted Cards are stylized cards with a soft blue background and changes all header sizes and text to a bit larger. These cards are used as hero area or of extra interst.
 *
 * @molecule Highlighted Card 
 * @section Card > Basic 
 * @flag contained
 * @modifiers
 *  .position-right-[size] floats the card to the right so text will wrap around the left when the view port is above the size.
 *  .position-right-lg the float appears large up.
 *  .position-right-md the float appears medium up.
 *  .position-right-sm the float appears small up.
 *  .position-left-[size] floats the card to the left so text will wrap around the right when the view port is above the size.
 * @markup
 *  <div class="card highlighted">
 *   <h3 class="card-header">Highlighted Card</h3>
 *    <div class="card-body">
 *      <p>@{lipsum:30:words}</p>
 *    </div>
 *     <div class="card-action card-footer"> <a class="btn btn-primary btn-block">Action</a></div>
 *  </div>
 *
 */
.highlighted.card {
    h1, h2, h3, h4 {
        line-height: $crunched;
    }

    h1, h3 {
        color: $primary-color-dark;
    }

    h2, h4 {
        color: $off-black;
    }

    h2 {
        font-size: ms(6);
    }

    h3 {
        font-size: ms(5);
    }

    h4 {
        font-size: ms(4);
    }

    p {
        font-size: ms(2);
    }

    border-color: $soft-blue;

    .card-header {
        text-transform: uppercase;

        @include font-display("regular");
    }

    background-color: mix($soft-blue, white);

    .card-header, .card-body {
        text-align: left;
    }

    .card-action {
        padding-right: 1em;
        padding-left: 1em;
    }
}

/**
 * Info Cards are stylized cards with a warm grey background and changes all headers are bold.
 *
 * @molecule Info Card 
 * @section Card > Basic 
 * @flag contained
 * @markup
 *  <div class="card info">
 *   <h2 class="card-header">Info Card</h2>
 *    <div class="card-body">
 *      <p>@{lipsum:30:words}</p>
 *    </div>
 *     <div class="card-action"> <a class="btn btn-primary btn-block">Action</a></div>
 *  </div>
 *
 */
.info.card {
    .triangle:before {
        border-color: transparent transparent transparent $warm-grey;
    }

    border-color: $warm-grey;

    .card-header {
        color: $off-black;
        font-weight: 900;
    }

    background-color: $warm-grey-light;

    .card-header, .card-body {
        text-align: left;
    }

    .card-action {
        padding-right: 1em;
        padding-left: 1em;
    }
}

/**
 * Notice Cards are stylized cards with a soft blue background and grey triangle to cause it to stand out from surrounding text
 *
 * @molecule Notice Card 
 * @section Card > Basic 
 * @flag contained
 * @markup
 *  <div class="card notice">
 *   <h2 class="card-header triangle">Notice Card</h2>
 *    <div class="card-body">
 *      <p>@{lipsum:30:words}</p>
 *    </div>
 *     <div class="card-action"> <a class="btn btn-primary btn-block">Action</a></div>
 *  </div>
 *
 */
.card.notice {}

.card.notice, .card.notice.alt {
    .card-header {
        text-transform: capitalize;
        font-weight: normal;
    }
}

.card.notice {
    background-color: mix($soft-blue, white);
    border-color: $soft-blue;

    .triangle:before {
        border-color: transparent transparent transparent $soft-grey;
    }

    .card-header {
        color: $scrub-teal-dark;
    }
}

/**
 * Notice Cards with the alt class modifies the style of notice cards by changing the background to soft grey background with an orange triangle.
 *
 * @molecule Notice Card Alt 
 * @section Card > Basic
 * @flag contained
 * @markup
 *  <div class="card notice alt">
 *    <h2 class="card-header triangle">Notice with .alt</h2>
 *    <div class="card-body">
 *      <p>@{lipsum:15:words}</p>
 *    </div>
 *     <div class="card-action"> <a class="btn btn-secondary btn-block">Action</a></div>
 *  </div>
 *
 */
.card.alt {
    background-color: $soft-grey;
    border-color: $warm-grey-light;

    .triangle:before {
        border-color: transparent transparent transparent $primary-color-light;
    }

    .card-header {
        color: $primary-color-dark;
    }
}

/**
 * Event Cards are containers for Event Data Type 
 *
 * @molecule Event Card 
 * @section Card > Event
 * @flag contained
 * @modifiers
 *  .undecorated    removes the card decoration( background colors, borders & graphic date) to make it list-able. 
 * @markup
 *  <div class="card event">
 *      <div class="card-header">
 *              <div class="event-date">
 *                  <div class="date">
 *                      <span class="month">May</span>
 *                      <span class="day">12</span>
 *                      <span class="year">2018</span>
 *                  </div>
 *              </div>
 *              <div class="event-details">
 *                  <div class="title">@{lipsum:8:words}</div>
 *                  <div class="location-title">Grand Hayatt</div>
 *                  <div class="location">Cincinnati, OH </div>
 *                  <span class="full-date">May 12, 2018</span><span class="time"><span class="begin">8:00AM</span> - <span class="end">2:00PM</span> <span class="timezone">(EST)</span></span>
 *              </div>
 *      </div>
 *      <div class="card-body">     
 *          <p>@{lipsum:1:paragraphs}</p>
 *      </div>
 *      <div class="card-action"><strong>Add to Calendar: </strong><a class="link">Outlook</a> | <a class="link">Google</a> | <a class="link">iCal</a></div>
 *      <div class="card-action"><a class="btn btn-default btn-sm">Register</a></div>
 *
 */
.card.event {
    border-style: solid;
    border-width: 1px;
    position: relative;

    i.fa.fa-calendar {
        @include bp(md) {
            display: none;
        }
    }

    .card-header {
        padding-top: 1rem;
        text-align: left;
        background-color: $soft-grey;
        display: table;
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
    .event-date, .event-details{
        display: table-cell;
        vertical-align: top;
    }
    .event-date {
        padding-right:1rem;
        text-align: center;
        width:1%;
    }

    .event-details {
        padding-bottom:.75rem;
    }

    .card-body {
        text-align: left;
        clear: both;
        padding-top: .5rem;
    }

    .date {

    }


    .title {
        @include font("regular");
        color: $primary-color-dark;
        line-height: $crunched;
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: .25rem;
        font-size: ms(3);
    }

    .location-title{
        @include font("bold");
        color:$scrub-teal-dark;
        font-size: ms(1);
        line-height: $crunched;
    }
    .location {
        @include font("regular");
        font-size: ms(0);
        line-height: $crunched;
        color: $off-black;
    }
    .full-date{display: none;}
    .full-date,.time {
        @include font("regular");
        font-size: ms(-1);
        color: $off-black;
        line-height: $tight;
        font-style: italic;
        margin-bottom: 1em;
    }

    .card-action {
        text-align: center;
        background-color: $off-white;
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: $warm-grey-dark;
        strong {
            display: none;
            @include bp(md) {
                display: inline;
            }
        }
        .btn{ width:100%;}
    }
}

.event {
    .date {
        max-width: 120px;
        margin-bottom:.75rem;  
        background-color: $off-white;
        text-align: center;
        border: 2px solid $scrub-teal;
        @include bp(md){ border-width:4px;}
        display: inline-block;
    }

    .day, .month, .year {
        display: block;
        clear: both;
        line-height: 1;
        padding-right: 5px;
        padding-left: 5px;
    }

    .day {
        @include font-display("light");  
        font-size: ms(3);
        font-weight: bold;
        @include bp(md){ font-size: ms(7);}
    }

    .month {
       @include font-display("regular"); 
       font-size: ms(-1); 
       padding-top: 2px;
       padding-bottom: 2px;
       @include bp(md){ font-size: ms(2);}
    }

    .year {
        @include font-display("bold");  
        background-color: $scrub-teal;
        color: $off-white;
        font-size: ms(-1);
        padding-top: 3px;
        @include bp(md){
            padding-right:10px;
            padding-left:10px;
            font-size: ms(2);
        }
    }
}

/**
 * Undecorated event cards are for listing a lot of events together.
 *
 * @molecule Event Card (Undecorated)
 * @section Card > Event
 * @markup
 *  <div class="card event undecorated">
 *      <div class="card-header">
 *              <div class="event-date">
 *                  <div class="date">
 *                      <span class="month">May</span>
 *                      <span class="day">12</span>
 *                      <span class="year">2018</span>
 *                  </div>
 *              </div>
 *              <div class="event-details">
 *                  <div class="title">@{lipsum:8:words}</div>
*                  <div class="location-title">Grand Hyatt</div>
 *                  <div class="location">Cincinnati, OH </div>
 *                  <span class="full-date">May 12, 2018</span><span class="time"><span class="begin">8:00AM</span> - <span class="end">2:00PM</span> <span class="timezone">(EST)</span></span>
 *              </div>
 *      </div>
 *      <div class="card-body">     
 *          <p>@{lipsum:1:paragraphs}</p>
 *      </div>
 *      <div class="card-action"><strong>Add to Calendar: </strong><a class="link">Outlook</a> | <a class="link">Google</a> | <a class="link">iCal</a></div>
 *      <div class="card-action"><a class="btn btn-default btn-sm">Register</a></div>
 *  </div>
 *
 */
.card.event.undecorated{
    .event-date{display:none;}
    .location{font-size:ms(-1); display:inline;}
    .full-date,.time{display:inline;margin-left:.25rem;}
    .event-details {padding-bottom:0;}
    .card-header{
        padding-right:0;
        padding-left:0;
        background-color:transparent;
    }
    .card-body{
        padding-right:0;
        padding-left:0;
        border-top:1px solid $warm-grey-light;
        padding-top:.125rem;
        padding-bottom:.125rem;
    }
    .card-action{
        padding-right:0;
        padding-left:0;
        background-color:transparent;
        font-size: ms(-1);
        padding-top:.125rem;
        padding-bottom:.125rem;
        text-align: left;
        .btn{ width:200px;}
    }
}
.card.event.undecorated + .card.event.undecorated{border-top:1px dotted $scrub-teal-dark;}

/**
 * Testimonial Card are containers for Testimonial Data Type 
 *
 * @molecule Testimonial Card 
 * @section Card > Testimonial
 * @flag contained
 * @modifiers
 *  .horizontal     Aligns the image to the left of the testimonial.
 *  .img-circle     Converts the image into a circle.
 *  .undecorated    Removes the image and outline all together leaving behind only the quote and citation.
 * @markup
 *  <div class="card testimonial">
 *    <header class="card-header">
 *      <img class="card-img img-circle img-thumbnail" src="@{image:200:200}"/>
 *    </header>
 *    <div class="card-body">
 *      <article class="blockquote">
 *        <p>@{lipsum:15:words}</p>
 *        <cite class="blockquote-cite">Someone famous</cite>
 *      </article>
 *    </div>
 *  </div>
 *
 */
.card.testimonial{}
.card.testimonial,.card.product {
    border-style: solid;
    border-width: 1px;
    margin-top: 0;
    padding: 0;

    @include bp(md) {
        margin-top: 100px;
    }


    .card-header {
        background-color: $soft-blue;
        margin-bottom: 75px;

        @include bp(md) {
            margin-bottom: 0;
        }
    }

    .card-img {
        margin: 20px auto -50px;
        width: 100px;
        height: 100px;

        @include bp(md) {
            margin: -100px auto 20px;
            width: 200px;
            height: 200px;
        }
    }

    .card-body {
        padding: 10px 1em 1em;
        position: relative;
    }

    .blockquote {
        position: relative;
        text-align: center;
    }

    .blockquote p, .blockquote-cite {
        display:block;
        &:before, &:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            width: 1.28571429em;
            text-align: center;
        }
    }

    .blockquote p {
        font-size: ms(1);

        &:before, &:after {
            color: $primary-color-light;
        }

        &:before {
            margin-right: .5em;
            content: "\f10d";
        }

        &:after {
            margin-left: .5em;
            content: "\f10e";
        }
    }

    .blockquote-cite {
        font-size: ms(0);
        position: relative;
        right: 0;
        color: $warm-grey;


        &:after {
            margin-right: .5em;
            content: "\f007";
        }
    }
}

/**
* Horizontal Testimonial are compact containers for Testimonial Data Type 
*
* @molecule Testimonial Card (.horizontal)
* @section Card > Testimonial
* @flag contained
* @markup
*  <div class="card testimonial horizontal">
*    <header class="card-header">
*       <img class="card-img  img-thumbnail" src="@{image:200:200}"/>
*    </header>
*    <div class="card-body">
*      <article class="blockquote">
*        <p>@{lipsum:15:words}</p>
*        <cite class="blockquote-cite">Someone famous</cite>
*      </article>
*    </div>
*  </div>
*
*/
.card.testimonial.horizontal{}
.card.testimonial.horizontal, .card.product{
    @include bp(md) {
        display: block;
        margin-top: 0;
        display: table;

        .card-header, .card-body {
            display: table-cell;
            width: unset;
            padding: 10px;
            margin: 0;
            vertical-align: middle;
            float: none;
        }

        .card-img {
            margin: 10px;
            height: 125px;
            width: 125px;
        }

        .card-header {
            min-width: 160px;
        }

        .card-body {
            text-align: left;

            .blockquote-cite {
                float: none;
            }
        }

        .blockquote {
            text-align: left;
        }

        .blockquote-cite {
            text-align: right;
            display:block;
        }
    }
}
.card.testimonial.horizontal.undecorated,.card.testimonial.undecorated{
    margin-top:0;
    .card-header{display:none!important;}
}
.card.testimonial.vertical-spacing {
    margin-bottom: 120px;
}
/**
 * The "Facility Card" is a combination of cards and ui to make the UI element that is found on the home page. 
 *
 * @structure Facility Card 
 * @section Advanced Cards & Boxes > Facility Card 
 * @flag contained
 * @markup
 *  <div class="card highlighted">
 *   <h3 class="card-header">Does My Facility Participate?</h3>
 *    <div class="card-body">
 *      <p>Search for your facility by typing your <strong>facility name</strong> or <strong>participant ID</strong> below to create an ACC Quality Improvement for Institutions account.</p>
 *      <div class="form-group">
 *          <label for="exampleInputFacility">Search your Facility:</label>
 *          <input type="email" class="form-control" id="exampleInputFacility" placeholder="Start Typing your facility name" autocomplete="on">
 *      </div>
 *    </div>
 *     <div class="card-action"><a class="btn btn-primary btn-block">Search</a></div>
 *     <div class="card">
 *      <h3 class="card-header">
 *          Can't find your facility?
 *      </h3>
 *      <div class="card-body">
 *          <p>If your facility is not a participant with NCDR or PINNACLE, please <a href="#" class="link">submit a request</a> to get more information and gain access. </p>
 *      </div>
 *     </div>
 *  </div>
 *
 */
.featured.card {}

/**
 * "Undecorated" cards remove the background,padding and border of cards with leaving behind all of the typography treatment of card.  This is mosly used on the homepage in combination with the highlighted card 
 *
 * @molecule Undecorated Highlighted Card 
 * @section Card > Basic 
 * @flag contained
 * @markup
 *  <div class="card highlighted undecorated">
 *   <h3 class="card-header">Undecorated Highlight Card</h3>
 *    <div class="card-body">
 *      <p>@{lipsum:20:words}</p>
 *    </div>
 *     <div class="card-action card-footer"> <a class="btn btn-primary btn-block">Action</a></div>
 *  </div>
 *
 *
 */
.undecorated.card {
    border-width: 0;
    background-color: transparent;
    padding: 0;

    .card-header.triangle:before {
        display: none;
    }
}

/**
* Products are compact containers for Testimonial Data Type 
*
* @molecule Product Card
* @section Card > Product
* @flag contained
* @markup
*  <div class="card product">
*    <header class="card-header">
*       <img src="http://accreditation.acc.org/images/facilitymap/AF.png" alt="" class="mapseal">
*    </header>
*    <div class="card-body">
*      <article>
*       <h2 class="m-0">@{lipsum:3:words}</h2>
*        <p>@{lipsum:15:words}</p>
*        <a class="btn btn-primary">Link To Product <i class="fa fa-external-link-square"></i></a>
*      </article>
*    </div>
*  </div>
*
*/
.card.product{
    .card-header{margin-bottom:0; background-color:$warm-grey-light;}
    .card-header img{max-height:200px; width:auto;margin:0 auto; padding:10px 0;}
}


/**
 * Boxes(".box") are a simple decorator that has internal padding, a colored background, and fills its parent container. 
 * Boxes are a simpler version of ".cards" when the structured DOM is either unnecessary or would conflict with the internal content.
 *
 * @molecule box
 * @flag contained
 * @modifiers
 *  .alt    changes background to grey
 *  .alt.blue changes background to blue
 * @section Box > Box
 * @markup
 *   <div class="box">
 *      <h1>H1 Tag</h1>
 *      <p>@{lipsum:20:words}</p>
 *   </div>
*/

.box {
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    border:1px solid $soft-grey;
    .card-header{margin-left:0; margin-right:0;}

    h1, h2, h3, h4 {
        &:first-child{margin-top:.5rem;}
        font-weight: bold;
        color: $primary-color-dark;
    }
    + .box{ margin-top:.5rem;}
}
/**
* The box is by default white add the ".alt" class to make it grey and remove the boarders.
*
* @molecule Box Alt
* @section Box > Box
* @markup
*  <div class="box alt">
*     <h3>Past Box</h3>
*     <p>@{lipsum:2:paragraphs}</p>     
*     <div class="row">
*         <div class="col-sm-9 col-lg-6 p-r-0">
*             <div class="form-group">
*                 <div class="input-group">
*                     <select name="" id="" class="form-control">
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                         <option value="">@{lipsum:3:words}</option>
*                     </select>
*         <span class="input-group-btn">
*           <button type="submit" class="btn btn-primary expanded">Go</button>      
*         </span>
*                 </div>
*             </div>
*         </div>
*         <div class="col-sm-4 col-lg-5 pull-right">
*             <button type="submit" class="btn btn-primary pull-right">Comparison Report</button>
*         </div>
*     </div>
*  </div>
*/
.box.alt{
    background-color: $soft-grey;
    &.blue{background-color:$soft-blue;}
}