/**
* Tooltips are the elements that expand from pins on the map
*
* @molecule Map Tooltip
* @section Map > Tooltip
* @markup
*   <div role="tooltip" class="style-guide-override k-widget k-tooltip k-popup k-group k-reset tooltip top" data-role="popup">
*       <div class="tooltip-arrow"></div>
*       <div class="k-tooltip-content tooltip-inner">
*           <strong>West Valley Medical Center</strong>
*           <br> 1717 Arlington Avenue<br>
*            Caldwell, ID &nbsp; 83605<br>
*           <div class="mapsealscontainer">
*               <div class="mapsealbox">
*                   <img src="http://accreditation.acc.org/images/facilitymap/CP.png" alt="" class="mapseal">
*                   <br>2014</div>
*               <div class="mapsealbox">
*                   <img src="http://accreditation.acc.org/images/facilitymap/AF.png" alt="" class="mapseal">
*                   <br>2016
*               </div>
*           </div>
*       </div>
*   </div>
*/

.k-tooltip {}
.tooltip{}

/**
* Result lists is the list view of all of the pins on the map
*
* @molecule Map Result List
* @section Map > Result List
* @markup
*    <ul class="result-list">
*        <li class="address">
*            <div class="name">@{lipsum:4:words}</div> 
*            <div class="address-line">@{lipsum:4:words}</div>
*            <div class="address-line">@{lipsum:4:words}</div>
*        </li>
*    </ul>
*/

ul.result-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

    &,
    li {
        list-style: none;
        margin: 0;
    }
    .address {
        background-color:$warm-grey-light;
        padding: .375rem 20px .375rem .5rem ;
        border: 1px solid $soft-grey;
        cursor: pointer;

        .name {
            line-height: 1.2;
            color: $scrub-teal-dark;
            margin: 0;
            margin-bottom: .25em;
            margin-top: .125em;
            font-size: ms(2);
        }
        .address-line {
            line-height: 1.25;
            font-size: ms(1);
        }
        &:hover {
            background-color: $warm-grey-dark;  
            border-color:$off-white;        
            border-right: $orange-dark 10px solid;
            padding-right: 10px;
            .address-line{color: $orange-light;}
            .name{color:$off-white;}
        }
    }
    .address+.address {
        margin-top: 1px;
    }
}

.kendo-map {
    .searchbar.box {
        border: 1px $warm-grey-dark solid;
        border-top: 2px solid $orange-dark;
        margin: -1px 0 0;
    }
    a.btn.map-toggle {
       &.active{@include orange-gradient; color:$off-black;}
    }
}

.map-container {
    width: 100%;
    border-bottom: 2px solid $orange-dark;
    &:after {
        display: table;
        clear: both;
        content: "";
    }
    &,
    .map,
    .result-list-container {
        height: 600px;
        max-height: 75vh;
        transition: max-height 1s ease-out;
        -webkit-transition: max-height 1s ease-out;
        -moz-transition: max-height 1s ease-out;
        transition: width 1s ease-out;
        -webkit-transition: width 1s ease-out;
        -moz-transition: width 1s ease-out;
        background-color: $warm-grey-dark;
    }
    .map {
        border: 1px $warm-grey-dark solid;
        float: left;
        width: 100%;
        .results & {
            width: 50%;
            @include bp(md){
                width:75%;
            }
        }
    }
    .result-list-container {
        border: 1px $warm-grey-dark solid;
        border-left: 0 none;
        display: block;
        height: 600px;
        overflow: hidden;
        width: 0;
        .results & {
            width: 50%;
            @include bp(md){
                width:25%;
            }
        }
       
    }
}







/**
* Multiselect
*
* @molecule Map Multi Select
* @section Map > Dropdown
* @markup
*   <ul class="multiselect-container dropdown-menu">
*       <li class="multiselect-item multiselect-all"><a tabindex="0" class="multiselect-all"><label class="checkbox"><input type="checkbox" name="select-all" value="multiselect-all">  Select all</label></a></li>
*       <li class=""><a tabindex="0"><label class="checkbox"><input type="checkbox" value="@{lipsum:2:words}"> @{lipsum:2:words}</label></a></li>
*       <li class=""><a tabindex="0"><label class="checkbox"><input type="checkbox" value="@{lipsum:2:words}"> @{lipsum:2:words}</label></a></li>
*       <li class="active"><a tabindex="0"><label class="checkbox"><input type="checkbox" value="@{lipsum:2:words}"> @{lipsum:2:words}</label></a></li>
*       <li class="active"><a tabindex="0"><label class="checkbox"><input type="checkbox" value="@{lipsum:2:words}"> @{lipsum:2:words}</label></a></li>
*   </ul>
 */

ul.multiselect-container {
    li {
        a {
            padding: .125em .125em;
            >label {
                padding: .25em .125em .25em 2em;
            }
        }
        &.active a {
            background-color: mix(white, $orange-light);
            color: $off-black;
        }
    }
}


.k-map {
    .k-marker {
        @extend .icon-before;

        font-size: 40px;
        color: $orange-dark;
        background-image: none !important;
        text-align: center;
        overflow: visible;
         :hover {
            color: $orange-light;
        }
        &:before {
            margin: 0;
            text-align: center;
            vertical-align: bottom;
            display: inline;
            height: 40px;
            width: 28px;
            line-height: 40px;
            margin: 0;
            content: "\f041";
        }
    }
    &.zoom-8 .k-marker {
        font-size: 30px
    }
    &.zoom-7 .k-marker {
        font-size: ms(3);
    }
    &.zoom-6 .k-marker {
        font-size: ms(0);
    }
    &.zoom-5 .k-marker {
        font-size: ms(-2);
    }
    &.zoom-4,
    ,
    &.zoom-3,
    &.zoom-2,
    &.zoom-1 {
        .k-marker {
            font-size: 4px;
            &:before {
                line-height: 80px;
                content: "\f111";
            }
        }
    }
}

.multiselect.btn {
    .caret {
        display: none;
    }
    @extend .icon-after;
    &:after {
        content: "\f0d7";
    }
}

.k-tooltip-content {
    min-width: 200px;
}

.mapsealscontainer {
    margin: .5rem .25rem;
    display: table;
    width: 100%;
    .mapsealbox {
        display: table-cell;
        padding: 0 .5rem;
        .mapseal {
            width: 100%;
            max-width: 100px;
            margin: 0 auto;
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
not all {
    .k-map .k-marker:before {
        height: 80px;
        width: 56px;
    }
}