/**
 * Toggle Button for the menu on mobile
 *
 * @atom Mobile Toggle
 * @section Mobile
 * @markup
 *   <div class="mobile-menu-toggle"><span class="text">Menu</span> <i class="fa fa-bars"></i></div>
 */
.mobile-menu-toggle {
    text-transform: uppercase;
    cursor: pointer; 
    text-align:right;
    display: block;
    position: relative;
    .text{
        @include font(700);
        font-size: 1.25rem;
        color: $scrubteal;
        display: inline-block;
        vertical-align: top;
        padding: .5rem .25rem;
    }
    i.fa {
        color: $warm-grey;
        font-size: 2.125rem;
        margin: .125rem;
    }
}