/**
 * Sub nav is the secondary nav that shows on the desktop design on the right side.  
 *
 * @molecule Nav Sub (Sidebar Nav) 
 * @section Nav > Page 
 * @markup
 *  <div id="page-nav">
 *      <h2>@{lipsum:3:words}</h2>
 *      <ul class="nav flex-column">
 *          <li class="nav-item parent active">
 *             <a class="nav-link" >@{lipsum:1:words}</a>
 *                  <ul class="nav flex-column"">
 *                  <li class="nav-item"><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *                  <li class="nav-item"><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *                  <li class="nav-item parent active">
 *                      <a class="nav-link" >@{lipsum:1:words}</a>
 *                       <ul class="nav flex-column"">
 *                           <li class="nav-item "><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *                           <li class="nav-item current"><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *                           <li class="nav-item"><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *                       </ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="nav-item"><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *          <li class="nav-item"><a class="nav-link" href="">@{lipsum:2:words}</a></li>
 *      </ul>
 *  </div>
 *
 */

#page-nav,.nav-sub {
    @extend %nav-basic;
    // max-height: 0;
    // overflow: hidden;
    /*Taken out in ACCQIISP-9*/
    /*transition:max-height 1s ease-out;
  -webkit-transition:max-height 1s ease-out;
  -moz-transition:max-height 1s ease-out;*/
}
/* Internal Nav */

#page-nav {
    h2 {
        padding: 16px 1em 16px 1em;
        border-bottom: solid 1px $dark-orange;
        img {
            max-width: 100%;
        }
    }
    ul {
        padding: 0.5em 0 0.5em;
        background: $soft-grey;
        ul {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            max-height: 0;
            overflow: hidden;
            background: mix($soft-grey, $warm-grey-light);
            transition: 0.7s ease-in;
            -moz-transition: 0.7s ease-in;
            -webkit-transition: 0.7s ease-in;
            li:hover{ background: mix($soft-grey, $warm-grey-light);}
            ul {
                margin-left: -3.5em;
                padding: 0 0 0 4em;
                background: $warm-grey-light;
            }
        }
    }
    li {
        position: relative;
        font-weight: 600;
        list-style-type: none;
        a {
            margin-left: 1.5em;
            padding: 3px 10px 3px 0;
            display: block;
            line-height: 1.3em;
            color: $warm-grey-dark;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        &.active>a {
            color: $dark-orange;
        }
        &.current>a{
            background-color:$light-orange;
            color:$off-black;
        }

        &.parent:before {
            content: "";
            border-color: transparent $warm-grey-dark;
            border-style: solid;
            border-width: 3px 0 3px 5px;
            display: block;
            height: 0;
            width: 0;
            left: 12px;
            top: 0.6em;
            position: absolute;
            cursor: pointer;
            transition: 0.5s ease-out;
            -moz-transition: 0.5s ease-out;
            -webkit-transition: 0.5s ease-out;
        }
        li li:before {
            display: none;
        }
        &.current:before {
            cursor: pointer;
            border-color: transparent #e87d1e;
            /*  transform:rotate(90deg);
            -moz-transform:rotate(90deg);*/
        }
        li {
            font-size: 0.875em;
        }
        &.parent li.parent:before {
            left: 28px;
        }
        li {
            a {
                margin-left: 3em;
            }
            li {
                font-size: 1em;
            }
        }
        &.active {
            >ul {
                max-height: 400px;
            }
            &:before {
                transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
        }
    }
}
