/**
 * Sub nav is the secondary nav that shows on the desktop design on the right side.  
 *
 * @structure Nav Sub (Sidebar Nav) 
 * @section Nav > Page 
 * @flag contained
 * @markup
 *  <nav class="nav-sub">
 *      <h2 class="nav-sub-img">@{lipsum:3:words}</h2>
 *      <ul class="nav">
 *          <li class="nav-item parent active current">
 *            <a href="" class="nav-link" ><i class="fa fa-holder toggle"></i>@{lipsum:3:words}</a>
 *                  <ul class="nav flex-column">
 *                  <li class="nav-item"><a href="" class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *                  <li class="nav-item"><a href="" class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *                  <li class="nav-item parent active current">
 *                      <a href="" class="nav-link" ><i class="fa fa-holder toggle"></i>@{lipsum:1:words}</a>
 *                       <ul class="nav flex-column">
 *                           <li class="nav-item "><a href="" class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *                           <li class="nav-item current"><a href="" class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:3:words}</a></li>
 *                           <li class="nav-item parent active current">
 *                              <a href="" class="nav-link" ><i class="fa fa-holder toggle"></i>@{lipsum:1:words}</a>
 *                              <ul class="nav flex-column">
 *                                  <li class="nav-item "><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *                                  <li class="nav-item current"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:3:words}</a></li>
 *                                  <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *                              </ul>
 *                           </li>
 *                       </ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *          <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:3:words}</a></li>
 *          <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *          <li class="nav-item parent">
 *              <a href="" class="nav-link" ><i class="fa fa-holder toggle"></i>@{lipsum:5:words}</a>
 *               <ul class="nav flex-column">
 *                   <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *                   <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:3:words}</a></li>
 *                   <li class="nav-item"><a  class="nav-link" href=""><i class="fa fa-holder toggle"></i>@{lipsum:2:words}</a></li>
 *               </ul>
 *          </li>
 *      </ul>
 *  </nav>
 * @script
 *  $('.nav-sub .toggle').click(function(e){
 *     $(this).closest('li').toggleClass('active');
 *     e.preventDefault();
 *     e.stopPropagation(); 
 *  });
 */

.nav-sub {
    @extend %nav-basic;
    padding-bottom:.5rem;
    
    >.nav{
        border-top: solid 1px $primary-color-dark;
        border-bottom: solid 1px $primary-color-dark;

    }
    ul {
        @include font(bold);
        font-size: ms(1);
        display: block;
        transition:max-height 1s ease-out;
        -webkit-transition:max-height 1s ease-out;
        -moz-transition:max-height 1s ease-out;
        background: $soft-grey;
        >li a:hover{ background:mix($soft-grey,white);}
        ul {
            font-size: ms(0);
            max-height: 0;
            overflow: hidden;
            background: mix($soft-grey, $warm-grey-light,70%);
            >li a:hover{ background:mix(white,$warm-grey-light);}
            ul {
               background:mix($soft-grey,$warm-grey,70%);
               >li a:hover{background:mix($off-white,$warm-grey);}
                ul {
                   background:mix($soft-grey,$warm-grey-dark,70%);
                   >li a{ color:$off-black;}
                   >li a:hover{background:mix($off-white,$warm-grey-dark);}
                }
            }
        }
        .active>ul{max-height:2000px;}
    }
    li {
        display: block;
        cursor: pointer;
        line-height: $normal;
        li{line-height: $tight;}
        a {
            display: block;
            color: $warm-grey-dark;
            text-decoration: none;
            padding:6px 10px;
            @include bp(lg){padding:3px 10px;}
            &:hover {
                text-decoration: none;
                color:$off-black;
            }
        }
        &.active{color:$off-black;}
        &.current>a, &.current>a:hover{

            color:$primary-color-dark;
        }        
    }
// add spacing on the left every level down the tree nav
    li>a{padding-left: 1.5em;}
    li li>a{padding-left: 2em;}
    li li li>a{padding-left: 2.875em;}
    li li li li>a{padding-left: 4em;}

    .toggle{
        width: 1.5em;
        text-align: center;
        display:none;
        transition:transform 0.25s ease-out;
        -moz-transition:transform 0.25s ease-out;
        -webkit-transition:transform 0.25s ease-out;  
        &:after{
            content: "\f0da";
            cursor: pointer;
        } 
        &:hover{}    
    }
    .parent>.nav-link{
        text-indent: -1.4em;
        line-height: 1.2em;
    }
// correct spacing on the left when it has a toggle
    li.parent>.nav-link{padding-left:1.5rem;}
    li li.parent>.nav-link{padding-left:2.5rem;}
    li li li.parent>.nav-link{padding-left:3.5rem;}

    .parent>.nav-link>.toggle{
        display: inline-block;
        text-indent: 0;
    }
    .parent.active>.nav-link>.toggle{
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

}
.nav-sub-img {
        padding: 16px 1em 16px 1em;
        img {
            max-width: 100%;
        }
    }