/**
* Utility Nav at the top of the page. These are nav items are highly specialized and have been cherry picked out of site tree structure to give them global importance.
*
* @structure  Utility Nav 
* @section Nav > Utility
* @modifiers 
*  .mobile - decorates the nav to look like mobile
* @markup 
*  <nav class="nav-utility">
*      <ul class="nav">
*        <li class="nav-item">
*          <a class="nav-link active" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*      </ul>
*  </nav>
*/
.nav-utility{
    @extend %nav-basic;
    @include nav-mobile-basic;
    
   .nav{} 
    // Phone Mode
    background-color:$warm-grey-light;
    @include font-display("light");
    font-size: ms(1);
    .nav-link{
        color: $off-black
    }
    .nav-item{
        text-align: center;
        white-space: nowrap;
    
    }
    .nav-item + .nav-item{
        border-top:$off-white dotted 1px;
    }
   
    // Tablet Up Mode
    @include bp(md){
        @include nav-inline-block-basic;
        float:right;

        font-weight: 400;
        background-color:#fff;
         .nav-item + .nav-item{border:0px none transparent;}
         // pipes between nav items
        .nav-item:after{
            display:inline-block;
            padding-right: 1em;
            content: '|';
            color: $primary-color-light;
            }
        .nav-item:last-child:after{
                content: '';
                padding-left:0;
                display: none;
            }
        .nav-link{
            color:$warm-grey-dark;
            padding-left:0;
            &:hover{
                text-decoration:underline;
            }
        }
        .nav-item:last-child{.nav-link{padding-right:0em;}}
    }
    // Phone Decrative Override
    &.mobile{
        @include nav-mobile-basic();
        font-weight: 400;
        background-color:$warm-grey-light;
        .nav-item{
            width:auto;          
        }
        .nav-item + .nav-item{}
        .nav-link{}
        .nav-item:after{ padding-left:0; content: '';}
    }
}

