/**
* Utiltiy Nav at the top of the page. These are nav items are highly specialized and have been cherry picked out of site tree structure to give them global importance.
*
* @structure  Utiltiy Nav 
* @section Nav > Utility
* @modifiers 
*  .mobile - decorates the nav to look like mobile
* @markup 
*  <nav class="nav-utility">
*      <ul class="nav flex-column flex-md-row justify-content-end">
*        <li class="nav-item">
*          <a class="nav-link active" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*      </ul>
*  </nav>
*/
.nav-utility{
    @extend %nav-basic;
   .nav{@extend .nav-pills;} 
    // Phone Mode
    background-color:$warm-grey-light;
    @include font(700);
    font-size: ms(1);
    .nav-link{
        padding-right:1em;
        color: $off-black
    }
    .nav-item{
        text-align: center;
    
    }
    .nav-item + .nav-item{
        border:$off-white dotted 1px;
    }
   
    // Tablet Up Mode
    @include bp(md){
        font-weight: 400;
        background-color:#fff;
        .nav-link{
            color:$warm-grey-dark;
            }
     // pipes between nav items
        .nav-link:after{
            padding-left: 1em;
            content: '|';
            color: $light-orange;
            }
        .nav-item:first-child .nav-link{ padding-left:0;}
        .nav-item:last-child .nav-link{ padding-right:0;}
        .nav-item:last-child .nav-link:after{
                content: '';
                padding-left:0;
            }
        .nav-item + .nav-item{
            border:transparent none 0;
        }
    }
    // Phone Decrative Override
    &.mobile{
        font-weight: 400;
        background-color:$warm-grey-light;
        // @extend .flex-column;
        // @extend .nav-fill;
        .nav-item{
            width:auto;          
        }
        .nav-item + .nav-item{}
        .nav-link{}
        .nav-link:after{ padding-left:0; content: '';}
    }
}

