/**
* Social engagement buttons.
* 
*	
* @structure Social Buttons
* @section Nav > Utility
* @modifiers
*  .mono-teal  added to the .nav-social-buttons container the class turns all of the buttons scrub teal
*  .mono-orange  added to the .nav-social-buttons container the class turns all of the buttons dark orange
*  .mono-grey  added to the .nav-social-buttons container the class turns all of the buttons grey
*  .small  added to the .nav-social-buttons container the class turns all of the buttons small and more compact
* @markup 
*  <nav class="nav-social-button">
*    <h2>Stay Connected</h2>
*    <ul class="nav">
*    <li class="nav-item twitter"><a class="nav-link" href="https://twitter.com/accintouch" target="_blank"><i class="fa fa-twitter"></i></a></li>
*    <li class="nav-item facebook"><a class="nav-link" href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank"><i class="fa fa-facebook"></i></a></li>
*    <li class="nav-item linkedin"><a  class="nav-link" href="http://www.linkedin.com/groups/American-College-Cardiology-732607?trk=myg_ugrp_ovr" target="_blank"><i class="fa fa-linkedin"></i></a></li>
*    <li class="nav-item youtube"><a  class="nav-link" href="http://www.youtube.com/user/ACCinTouch" target="_blank"><i class="fa fa-youtube"></i></a></li>
*    </ul>
*  </nav>
* 
**/
.nav-social-button {
	@extend %nav-basic;
	.nav-item {
		margin: 0 .125rem 0;
		padding: 0;	
		float: left;
		opacity: .9;
		&:hover{
			opacity: 1;
		}
		&.twitter a {
			background-color: #78cdf0;
		}
		&.facebook a {
			background-color: #537bbd;
		}
		&.youtube a {
			background-color: #e9654b;
		}
		&.linkedin a {
			background-color: #2085c7;
		}
		&:first-child{margin-left:0;}
		&:last-child{margin-right:0;}			
	}
	.nav-link {
		height: ms(7);
		width:  ms(7);
		padding: ( ms(7) - ms(3) )/2;
		display: inline-block;
		text-align: center;
		i{
			display: inline-block;
			color: $off-white;
		    font-size: ms(4);
		    text-align: center;
		    line-height: 1;
		    width: ms(7);
		    height: ms(7);
		    vertical-align: middle;
		    @extend .icon-before;
		    &:before{vertical-align:middle; width:auto;margin-right:0;}
		}
	}
	&.mono-teal .nav-item{
		a{background-color:$scrubteal;}
	}
	&.mono-orange .nav-item{
		a{background-color:$dark-orange;}
	}
	&.mono-grey .nav-item{
		a{background-color:$warm-grey;}
	}
	&.small{ 
		.nav-item{
			margin:0 2px 0;
		}
		.nav-link{
			height: ms(3);
			width: ms(3);
			i{
				width:ms(3);
				height: ms(3);
				font-size:ms(1);
			}		
		}
	}

}