/**
* Primary Nav at the top of the page.
*
* @structure  Nav Primary
* @section Nav > Page
* @modifiers
*  .active for use on marking when on page
*  .disabled used to show when it is un-navigatable
*  .alt used to make a standout button in the primary nav
*  .alt.primary used to decorate the standout button to the positive flow
*  .alt.secondary used to convert the standout button to the alternate flow
* @markup 
*  <nav id="nav-primary">
*      <ul class="nav nav-fill flex-column flex-md-row">
*        <li class="nav-item">
*          <a class="nav-link active" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item dropdown">
*          <a class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" data-delay="1000" data-close-others="false">@{lipsum:1:words}</a>
*          <div class="dropdown-menu">
*              <a class="dropdown-item" href="#">@{lipsum:2:words}</a>
*              <div class="dropdown-divider"></div>
*              <a class="dropdown-item" href="#">@{lipsum:2:words}</a>
*              <a class="dropdown-item" href="#">@{lipsum:3:words}</a>
*              <a class="dropdown-item" href="#">@{lipsum:3:words}</a>
*            </div>
*        </li>
*        <li class="nav-item dropdown alt primary ">
*          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" data-delay="1000" data-close-others="false">Login</a>
*          <div class="dropdown-menu">
*              <a class="dropdown-item alt" href="#">CV Quality <small>Log Out <i class="fa fa-sign-out"></i></small></a>
*              <a class="dropdown-item" href="#">Accreditation <small>Log In <i class="fa fa-sign-in"></i></a>
*              <a class="dropdown-item" href="#">NCDR <small>Log In <i class="fa fa-sign-in"></i></a>
*            </div>
*        </li>
*      </ul>
*  </nav>
*/

#nav-primary{
    @extend %nav-basic;
    @include font(700);
    font-size: ms(2);
    background: $warm-grey;
    border-top: $light-orange 4px solid;

    .nav{
        width:100%;
    }
    .nav-item{
        &:hover{ background-color: $warm-grey-dark;}
        +  .nav-item{
            border:$off-white dotted 1px;
        }
        &.alt{

            &.primary{ 
                @include teal-gradient;
                &:hover{  @include teal-gradient-reverse; }
            }
            &.secondary{
                @include grey-gradient;
                &:hover{  @include grey-gradient-reverse; }
            }
        }
    }
    .nav-link{
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        text-transform: uppercase;
        color:$off-white;
        &:hover{
            color:#fff;
           
        }
    }
    @include bp(md){
        .nav-item + .nav-item{ border: none transparent 0;}
        .nav-link{ text-align: center;}
    }
    &.mobile{
        @extend .flex-column;
       
    }
    .dropdown-toggle::after{
        border:none 0 transparent;
    }
    .dropdown-menu{
        border-radius: 0px;
        background-color: $soft-grey;
        
        padding: 0;
        margin:0;
        }
    .dropdown-item{
        @include font(700);
        font-size:ms(1);
        padding:.5em 1em;
        color:$warm-grey;
        &:hover{ 
            background-color: $warm-grey;
            color:white;
            }
        }
    .dropdown-divider{
        border: 1px dotted $soft-blue;
        }
    .dropdown.alt{
        .dropdown-menu{
            width:100%; right:0;background-color:mix($warm-grey-dark,$scrubteal);
            
            .dropdown-item{
                color:$off-white;
                &:hover{
                    color:white;
                    background-color:$dark-orange;
                }
                small{float:right; font-size:ms(-1); padding-top:(ms(1) - ms(-1))/2;padding-bottom:(ms(1) - ms(-1))/2;}
            }
            .dropdown-item.alt{
                background-color: $warm-grey-dark;
                
                &:hover{
                    background-color:$off-black;
                }
            }
        }
    }
}


// need to build some dynamics or mech to to replace the toggle open and close of movbile app.
// 
// .nav-active #nav-primary {
//     max-height: 600px;
//     width: 100%;
// }
// .nav-active #page-nav {
//     max-height: 1000px;
//     width: 100%;
// }

