/**
* Primary Nav at the top of the page.
*
* @structure  Nav Primary
* @section Nav > Page
* @modifiers
*  .active for use on marking when on page
*  .disabled used to show when it is un-navigatable
*  .alt used to make a standout button in the primary nav
*  .alt.primary used to decorate the standout button to the positive flow
*  .alt.secondary used to convert the standout button to the alternate flow
* @markup 
*  <nav class="nav-primary">
*      <ul class="nav nav-fill flex-column flex-md-row">
*        <li class="nav-item">
*          <a class="nav-link active" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item">
*          <a class="nav-link" href="#">@{lipsum:1:words}</a>
*        </li>
*        <li class="nav-item dropdown">
*          <a class="nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" data-delay="1000" data-close-others="false">@{lipsum:1:words}</a>
*          <nav class="dropdown-menu">
*              <ul class="nav">
*              <li class="nav-item"><a class="dropdown-item nav-link" href="#">@{lipsum:2:words}</a></li>
*              <li class="nav-item"><a class="dropdown-item nav-link" href="#">@{lipsum:2:words}</a></li>
*              <li class="nav-item"><a class="dropdown-item nav-link" href="#">@{lipsum:2:words}</a></li>
*              </ul>
*            </nav>
*        </li>
*        <li class="nav-item alt dropdown primary ">
*          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" data-delay="1000" data-close-others="false">Login</a>
*          <nav class="dropdown-menu alt">
*             <ul>
*                   <li class="nav-item"><a class="dropdown-item nav-link alt" href="#">CV Quality <small>Log Out <i class="fa fa-sign-out"></i></small></a></li>
*                   <li class="nav-item"><a class="dropdown-item nav-link" href="#">Accreditation <small>Log In <i class="fa fa-sign-in"></i></small></a></li>
*                   <li class="nav-item"><a class="dropdown-item nav-link" href="#">NCDR <small>Log In <i class="fa fa-sign-in"></i></small></a></li>
*                </ul>
*           </nav>
*        </li>
*      </ul>
*  </nav>
*/

.nav-primary{
    @include font(700);
    @include nav-mobile-basic;
    font-size: ms(2);
    background: $warm-grey;
    border-top: $light-orange 4px solid;
    @include bp(lg){
        @include nav-flex-row-basic;
    }
    .nav{
    }
    .nav-item{
        &:hover{
        background-color: $warm-grey-dark;}
        +  .nav-item{
            border:$off-white dotted 1px;
        }
        // removal of bootstrap decorating the a
        &.open>a,&.open>a:focus,&.open>a:hover{
            background-color:transparent;
            border: none transparent 0;
        }
        &.alt{

            &.primary{ 
                @include teal-gradient;
                &:hover{  @include teal-gradient-reverse; }
            }
            &.secondary{
                @include grey-gradient;
                &:hover{  @include grey-gradient-reverse; }
            }
        }
    }
    .nav-link{
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        text-transform: uppercase;
        color:$off-white;
        &:hover{
            color:#fff;
           
        }
    }
    @include bp(lg){
        .nav-item + .nav-item{ border: none transparent 0;}
        .nav-link{ text-align: center;}
    }
    &.mobile{
        // @extend .flex-column;
       
    }
    .dropdown-toggle::after{
        border:none 0 transparent;
    }
    .dropdown-menu{
        border-radius: 0px;
        background-color: $soft-grey;
        
        padding: 0;
        margin:0;
        }
    .dropdown-item{
        @include font(700);
         text-align: left;
        font-size:ms(1);
        padding:.5em 1em;
        color:$warm-grey;
        &:hover{ 
            background-color: $warm-grey;
            color:white;
            }
        }
    .dropdown-divider{
        border: 1px dotted $soft-blue;
        }

    .dropdown-menu.alt{
        width:100%; right:0;background-color:mix($warm-grey-dark,$scrubteal);
        
        .dropdown-item{
            color:$off-white;
            &:hover{
                color:white;
                background-color:$dark-orange;
            }
            small{
                position:absolute;
                 font-size:ms(-1);
                 padding-top:(ms(1) - ms(-1))/2;
                 padding-bottom:(ms(1) - ms(-1))/2;
                 top:10px;
                 right:1rem;
            }
        }
        .dropdown-item.alt{
            background-color: $warm-grey-dark;
            
            &:hover{
                background-color:$off-black;
            }
        }
    }
}