/**
 * a combo input for users to quickly search the site with. 
 *
 * @molecule Search Bar 
 * @section Search 
 * @markup
 *  <div class="searchbar">
 *  	<div class="input-group input-group-sm">
 *			<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
 *			<input type="text" class="form-control" aria-label="Search" placeholder="Search...">
 *			<span class="input-group-append">
 *				<input class="btn btn-primary" type="submit" value="Search"/>
 *			</span>
 *		</div>
 *	</div>
 *
 */
.searchbar{
	.input-group-prepend,input,.input-group-btn{
		border-color:$scrub-teal;
	}
	.input-group-append .btn.btn-primary{
		color:white;
	}
	.input-group-prepend{
		background-color:$soft-blue;
		color:$scrub-teal;
		border-radius:2px;
	}
}
