/**
* toolkit-sublisting 
*
* @structure  toolkit-sublisting
* @section Advanced Containers
* @modifiers
*  .fancy this is for fancy accordians used on toolkits
* @markup  
*   <div class="panel-group fancy accordion" id="accordion" role="tablist" aria-multiselectable="true">
*     <div class="panel panel-default">
*       <div class="panel-heading" role="tab" id="headingOne">
*         <h3 class="panel-title">
*           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
*             <span class="text">Collapsible Group Item #1</span>
*           </a>
*         </h3>
*       </div>
*       <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
*         <div class="panel-body">
*               <div class="row">
*                   <div class="col-md-6"><img src="@{image:200:200}" alt=""></div>
*                   <div class="col-md-6">
*                       <h4>@{lipsum:5:words}</h4>
*                       <ol>
*                           <li style="page-break-inside: avoid">
*                               <a href="#.pdf" class="link" target="_blank">@{lipsum:3:words}</a>
*                           </li>
*                           <li style="page-break-inside: avoid">
*                               <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*                           </li>
*                           <li style="page-break-inside: avoid">
*                               <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*                           </li>
*                       </ol>
*                   </div>
*               </div>
*         </div>
*       </div>
*     </div>
*     <div class="panel panel-default">
*       <div class="panel-heading" role="tab" id="headingTwo">
*         <h3 class="panel-title">
*           <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
*              <span class="text">@{lipsum:1:paragraphs}</span>
*           </a>
*         </h3>
*       </div>
*       <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
*         <div class="panel-body">
*               <h4>@{lipsum:5:words}</h4>
*               <ol >    
*                    <li style="page-break-inside: avoid">
*                        <a href="#.pdf" class="link" target="_blank">@{lipsum:3:words}</a>
*                    </li>
*                    <li style="page-break-inside: avoid">
*                        <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*                    </li>
*                    <li style="page-break-inside: avoid">
*                        <a href="#.pdf" class="link" target="_blank">@{lipsum:5:words}</a>
*                    </li>
*               </ol>
*         </div>
*       </div>
*     </div>
*   </div>
* 
*/
.accordion.fancy {
    border-radius: 8px;
    padding: 5px;
    border: 1px solid $warm-grey-light;
    counter-reset:item;

    .panel {
        counter-increment: item;
        counter-reset: subitem;
        ol li{ 
            counter-increment: subitem;
            list-style: none;
            &:before{    content: counter(item) counter(subitem, lower-alpha) '.';}
        }
    }

    .panel-title a {
        display: table;
        padding: 0;
        vertical-align: middle;
        @include font-display(500);

    }
    .panel-title{
        a{
            color: $off-white;
            background-color: $scrub-teal-dark;
        }
         a:after {
                @extend .icon-after;
                content: "\f078";
                transition: transform 0.25s ease-out;
                -moz-transition: transform 0.25s ease-out;
                -webkit-transition: transform 0.25s ease-out;
                background-color: $orange-dark;
                color: white;
                padding: 1rem;
                width:3em;
                text-align: center;
            }
         a:before {
            content: counter(item);
            @include font-display("regular");
            color:$off-white;
            font-size: ms(7);
            padding:  1rem 1rem;
            text-align: center;
            min-width:4rem;
        }
        span.text{
            padding:1rem 1rem 1rem 0;
        }
        a:before, a:after, span.text, {
            display: table-cell; vertical-align:middle;
        }
    }

    .panel-title a.collapsed{
        background-color:$off-white;
        color:$off-black;
         &:before {
            color:$scrub-teal-dark;
            transform: rotate(0);
            -moz-transform: rotate(0);
            -webkit-transform: rotate(0);
        }
        &:after {
            content: "\f054";
            transform: rotate(0);
            -moz-transform: rotate(0);
            -webkit-transform: rotate(0);
            background-color: $scrub-teal-dark;
            color: white;
        }
    }
    .panel-heading{
        border-bottom:2px solid $warm-grey;
    }
    .panel-heading,.panel-heading,.panel-heading {
        &:active,&:focus,&:hover{
            border-color:$orange-dark;
            .panel-title {
                a {
                    color: $off-white;
                    background-color: $scrub-teal-dark;
                }

                a:after {
                    background-color: $orange-dark;
                    color: white;
                }
                 a:before {
                    color: white;
                }
            }
        }
    }

    .panel-heading:hover .panel-title a:after {
        animation: btn-bounce .3s ease-in 2;
        -webkit-animation: btn-bounce .3s ease-in 2;
        -moz-animation: btn-bounce 0.3s ease-in 2;
    }



    .panel-body {
        @include lightgrey-gradient;
        border:1px solid $warm-grey-light;
        padding:2rem 1rem;
        line-height: $loose

    }
}
@keyframes btn-bounce {
    0% {padding-top: 19px;}
    25% {padding-top: 30px;}
    50% {padding-top: 19px;}
    75% {padding-top: 5px;}
    100% {padding-top: 19px;}
}