/**
* User Status Container contains system feed back on what systems you may or may not be logged into. 
*
*
* @structure User Status
* @section Nav > Utility
* @markup
*   <div class="user-status-container">
*       <div class="user">
*           <span class="welcome">
*           Welcome
*         </span>
*         <span class="username">
*           [User Name]
*         </span>
*        </div>
 *        <nav class="nav-user-status">
*             <ul class="nav">
*                 <li class="acred acount nav-item">
*                     <a href="" class="nav-link" target="_blank">ACRED</a>
*                 </li>
*                 <li class="ncdr acount nav-item">
*                     <a href="" class="nav-link" target="_blank">NCDR</a>
*                 </li>
*                 <li class="qii acount nav-item">
*                     <a href="" class="nav-link" target="_blank">QII</a>
*                 </li>
*                 <li class="acc acount nav-item">
*                     <a href="" class="nav-link" title="My ACC Profile"  target="_blank">My ACC</a>
*                 </li>
*                 <li class="register nav-item action">
*                     <a class="nav-link" title="Register" href="javascript:__doPostBack('ctl00$qiiLoginStatus$lnkLogout','')">Register</a>
*                 </li>
*                 <li class="logout nav-item action">
*                     <a class="nav-link" title="Logout" href="javascript:__doPostBack('ctl00$qiiLoginStatus$lnkLogout','')">Logout</a>
*                 </li>
*             </ul>
 *       </nav>
*   </div>
*/

.user-status-container{
    font-size:ms(-2);
    color: $scrub-teal;
    line-height: 1.25em;
    .user{
        text-align:right;
        padding: 0.25rem .25rem;
        span{ 
            color:$warm-grey;
        }
    }
    
}

.nav-user-status{
    @extend %nav-basic;
    @include nav-inline-block-basic;
    text-align: right;
   
    .user + &{margin-top:-.5rem;}
    //add bars remove the last bar
    .nav-item:after{
            content:"|";
            padding-right:.25rem;
            color:$acc-blue;
    }
    .nav-item:last-child:after{ 
        content:'';
        padding-right:0;
    }
    .nav-link{
         padding: 0.25rem .25rem;
         &:hover{
            text-decoration: underline;
         }
        
    }
    .account{
        text-transform: uppercase;
    }
    .action{
        font-weight: 700;
        text-transform: uppercase;
    }
}
